
.isbn-false {
    text-decoration: line-through;
    color: grey:
}

/* small input in tables  */
.my-table-narrow input {
    width: 50px;
}

.my-narrow {
    width: 250px;
}

.my-number-input {
    width: 50px;
}

.text-left {
    text-align: left;
}

.myImg {
    height: 150px;
}