*.pyc
*.mo
*.json
*~
*#
*sqlite
static/bower_components/
db.db*
node_modules/
*.back
/collectedstatic/
/collectedstatic.tar.gz
/htmlcov/
/static/bower_components/
/public/
/static/js/build/
/doc/dev/_build/
.tox/
*.py.bak
search/datasources/build/
*.csv
static/css/index.css
*.min.css
*.min.js
logging.log