[MASTER]

ignore=migrations

[REPORTS]
output-format=parseable

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"

disable=C0301,C0103,C0326,C0111,R0903,W0110,W1202,W0141,C1001
# --, invalid name, bad whitespace,
# C0111 missing-docstring
# R0903 too-few-public-methods
# W0110 deprecated-lambda
# W1202 logging-format-interpolation
# W0141 about maps
# C1001 old style classes (even for class: Meta)
