<!-- Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->

  {% extends "registration/headers.html" %}
  {% load i18n %}

  {% block title %}
  <Abelujo>- log in</Abelujo>
  {% endblock %}

{% block content %}

<div class="col-lg-4"></div>
<div class="col-lg-4">
  <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin">{% csrf_token %}

    <h2 class="form-signin-heading">{% trans "Please sign in to Abelujo" %}</h2>
    <table class="table-condensed">
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr></tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input id="submit_button" type="submit" value="{% trans "login" %}" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="next" value="{{ next }}"/>{% if form.errors %}

    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
  </form>
</div>{% endif %}

<div class="col-lg-4"></div>
{% endblock content %}
