{% load i18n %}
!!! 5
html
head
  style.
    @page {
      margin: 2cm;
      size: a4 portrait;

        @top-right{
          content: "Page " counter(page) " of " counter(pages);
        }

        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }

        @frame content_frame {
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }

        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }

    }
  body

    h2#header_content(style="{text-align: center;}")  {{ list_name }}, {{ date }}
    div#footer_content(style="{text-align: center;}") {% trans "page" %} <pdf:pagenumber> / <pdf:pagecount> 

    table
      thead
        tr
          if barcode
            th
          th {% trans "Title" %}
          th {% trans "Price" %}
          th {{ quantity_header }}

      tbody
        for card_qty in cards_qties
          tr
            if barcode
              td: img(alt="" src="data:image/png;base64,{{ card_qty.0.eanbase64 }}")
            if covers
              td: img(src="{{ card_qty.0.img }}")
            td {{ forloop.counter }} - {{ card_qty.0.title }}
            td(style='{text-align: center;}') {{ card_qty.0.price }} €
            td(style='{text-align: center;}') {{ card_qty.1 }}
        endfor

      tfoot
        tr
          if barcode
            td
          if covers
            td
          td
            b {% trans "Total" %}
          td(style='{text-align: center;}')
            b {{ total }} €
          td(style='{text-align: center;}')
            b {{ total_qty }}