{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html></html>
<head>
  <style>@page {
  font-size: 9pt;
  margin: 2cm;
  size: a4 portrait;

    @bottom-right{
      content: counter(page) " / " counter(pages);
    }

    @bottom-center {
      font-size: x-small;
      content: "Abelujo http://abelujo.cc/ - logiciel libre pour librairies"
    }
}
  </style>
  <body>
    <h2 id="header_content" style="{text-align: center;}">{{ name }}</h2>{% if bon_de_commande %}
    <div style="font-size: 90%"> Bon de commande: {{ bon_de_commande }} </div>
    {% endif %}
    <em style="font-size: 8pt">{{ date }}</em>
    <table>
      <thead style="background-color: lightgrey; font-size: 10pt;">
        <tr>{% if  barcode %}
          <th></th>{% endif %}
          {% if  covers %}
          <th></th>{% endif %}
          <th>{% trans "Title" %}</th>
          <th>{% trans "Authors" %}</th>
          <th>{% trans "Price" %}</th>
          <th>{{ quantity_header }}</th>
        </tr>
      </thead>
      <tbody style="font-size: 8pt;">
        {% for card_qty in cards_qties %}
        <tr>
          {% if  barcode %}
          <!-- normal size for the barcode.-->
          <td style="font-size: 12pt">
            {% if card_qty.0.eanbase64 %}
            <img alt="" src="data:image/png;base64,{{ card_qty.0.eanbase64 }}" style="max-height: 4em">
            {% else %}
            <img alt="" src="" style="max-height: 4em">
            {% endif %}
          </td>
          {% endif %}

          {% if  covers %}
          <!-- quickfix: cover is the remote url, not the local file.-->
          <td>
            {% if card_qty.0.cover %}
            <img src="{{ card_qty.0.cover }}" style="max-width: 100px">
            {% else %}
            <img src="" style="max-width: 100px">
            {% endif %}
          </td>
          {% endif %}

          <td> {{ card_qty.0.title | truncatechars:27}} </td>

          <td>{{ card_qty.0.authors_repr | truncatechars:20 }}</td>
          <td style="{text-align: center;}">{% if  card_qty.0.price %}{{ card_qty.0.price }} {{ currency_fmt }}
            {% endif %}
          </td>
          <td style="{text-align: center;}">{{ card_qty.1 }}</td>
        </tr>{% endfor %}
        <endfor></endfor>
      </tbody>
    </table>


    <div style="text-align: right; background-color: lightgrey">
      <b>
        {% trans "Total" %}:
      </b>
      <b>{{ total }} {{ currency_fmt }}</b>
      <b> {{ quantity_header }}:  {{ total_qty }}</b>
    </div>

  </body>
</head>
