{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

      <div class="row panel panel-primary">
        <h3 class="panel panel-heading">

          <span>{% trans "Best shelves" %} 
            {% for elt in years_range %}
            {% if elt = year %}
            {{ year }}
            {% else %}

            <span class="text-right mouse-pointer" style="font-size: 70%; ">
              <a hx-get="/{{ LANGUAGE_CODE }}/bestshelves?year={{ elt }}"
                  hx-target="#best_shelves"
                  style="color: white; text-decoration: underline; ">
                {{ elt }}
              </a>
            </span>

            {% if forloop.last %}
            {% else %}
            &bull;
            {% endif %}

          </span>
          {% endif %}
          {% endfor %}

        </h3>
        <div class="panel panel-body">
          <div class="col-md-12">
            <table class="table table-striped table-condensed">
              <thead class="thead-light">
                <tr>
                  <th></th>
                  <th>{% trans "Shelf" %}</th>
                  <th></th>
                  <th>{% trans "Revenue" %} {{ default_currency }}</th>
                  <th>{% trans "Transactions" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>{% for data in best_shelves %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <div>{{ data.shelf_name }}</div>
                    {% if  forloop.counter < 6 %}
                    <div style="height: 5px;" class="progress">
                      <div role="progressbar" style="width: {{ data.revenue_percent_string }}%;" aria-valuemax="100" aria-valuemin="0" class="progress-bar bg-info"></div>
                    </div>{% endif %}
                  </td>
                  <td class="text-right">{{ data.revenue_percent_fmt }}</td>
                  <td class="text-right">{{ data.revenue_fmt }}</td>
                  <td class="text-right">{{ data.count }}</td>
                  <td class="text-right">{{ data.soldcards_percent_fmt }}</td>
                </tr>{% endfor %}
              </tbody>
            </table>{% if  not best_shelves %}
            <div>{% trans "No data!" %}</div>{% endif %}
          </div>
        </div>
      </div>
