{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}


        <tr class="result-row" id="card_{{ copy.pk }}">
          <td  data-value="">
            <div class="col-md-6" x-cloak x-show="open">

              <!-- Click to enlarge image. -->
              <a data-toggle="modal"
                  data-target="#enlargeImageModal{{ copy.card.id }}"
	          title="{% trans 'Enlarge image' %}">
                <img src="{{ copy.card.img }}" class="myImg mouse-pointer"/>
              </a>
            </div>

            <!-- enlargeImageModal ci-dessous: -->
            <div id="enlargeImageModal{{ copy.card.id }}" class="modal">
              {% include "search/modale_enlarge_image.html" with object=copy.card %}
              </div>
            </td>

          <td  data-value="{{ copy.card.title }}">
            <a href="{{ copy.card.get_absolute_url }}"
                class="result-value"
                id="card{{ copy.card.pk }}">
              {{ copy.card.title }}
            </a>
            <span style="color: dimgrey;">{{ copy.card.isbn }}</span>
            <div style="color: grey;" x-show="open">
              {{ copy.card.authors_repr }}, {{ copy.card.pubs_repr }}
            </div>
          </td>

          <td  data-value="{{ copy.card.distributor_repr }}">
            {{ copy.card.distributor_repr }}
          </td>

          <td  data-value="{{ copy.card.price }}" class="text-right">
            {{ copy.card.price_fmt }}
          </td>
          <td  data-value="{{ copy.nb }}" class="text-right">
            x{{ copy.nb }}
          </td>
          <td  data-value="{{ copy.card.quantity }}">
            {{ copy.card.quantity }}
          </td>
          <td  data-value="{{ copy.nb_received }}">
            {% if copy.is_received %}
            <button class="btn btn-success btn-sm" style="max-height: 2em">
              {{ copy.nb_received }}
            ✔
            </button>
            {% else %}
            <!-- data-comment="On POST, replace the button with new HTML." -->
            <!-- oops, see also /api/institutions -->
            <button class="btn btn-sm" style="max-height: 2em"
                    title="{% trans '' %}"
                    hx-post="/api/baskets/{{ basket.pk }}/receive_card/{{ copy.card.pk }}"
                    {% if not copy.card.quantity %}
                    hx-confirm="This book is not in stock. Continue and decrement its quantity?"
                    {% endif %}
                    {% if copy.card.quantity %}
                    hx-confirm="{% trans 'This book will be decremented from the stock. Confirm?' %}"
                    {% endif %}
                    hx-target="#card_{{ copy.pk }}"
                    hx-swap="outerHTML">
              {{ copy.nb_received }} ➕
            </button>
            {% endif %}
          </td>
          <td  data-value="{% if copy.is_received %} 0 {% else %} {{ copy.nb_to_command }} {% endif %}">
            <!-- → -->
            {% if copy.is_received %}
            <span style="color: darkgrey;">
            0
            </span>
            {% else %}
            {{ copy.nb_to_command }}
            {% endif %}
          </td>
          <td  data-value="">
            <i hx-post="/api/baskets/{{ basket.pk }}/remove/{{ copy.card.pk }}/?title={{ copy.card.title }}"
                hx-target="#card{{ copy.card.pk }}"
                hx-confirm='{% trans "Remove this card from the list. This action cannot be undone." %}'
                style="padding-left: 1em;"
                class="glyphicon glyphicon-remove mouse-pointer my_remove">
              </i>
          </td>
        </tr>
