// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load ngfilter %}

div(ng-controller="basketsController")
 div
    alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 h1 {% trans "Baskets" %}
 .col-md-3
  div
     i.glyphicon.glyphicon-plus.mouse-pointer(title='{% trans "Create a basket" %}', ng-click="open('sm')")
   ul.list-group
     div(ng-repeat="it in baskets")
        li.list-group-item.mouse-pointer(ng-class="{active: cur_basket.id == it.id}", ng-click="showBasket($index)") {{ " it.name " | ng }}
            span.badge {{ " it.length " | ng }}


 .col-md-9
   .col-md-1

    .btn-group
     button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false")
       i.glyphicon.glyphicon-cog
       span.caret
     ul.dropdown-menu
       li: a(href="#", ng-click="command()", title='{% trans "Mark all the cards to command" %}') {% trans "Command…" %}

   .col-md-6
     h4   {{ 'cur_basket.name' |ng}}

   table.table.table-condensed.table-striped
     tr(ng-repeat="it in copies", ng-mouseenter="show_buttons[$index] = true", ng-mouseleave="show_buttons[$index] = false")
       td: a(href="{{ 'it.get_absolute_url' | ng}}") {{ 'it.title' | ng }}
       td: i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection($index)", style="padding-left: 1em;", title='{% trans "Remove from basket" %}', ng-show="show_buttons[$index]")

 script(type="text/ng-template", id="basketModal.html")
    div.modal-header
      h3.modal-title {% trans "Create a basket" %}

    div.modal-body
      label {% trans "Name" %}
      input#default-input(type="text", ng-model="new_name")

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}

{% endblock content %}