// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Cards to command" %}

div(ng-cloak, ng-controller="basketToCommandController")

  em {% trans "The cards to command are grouped by distributor. Check the quantity you want to command and send them an email." %}
  div(ng-repeat="(pub_id, cards) in sorted_cards")
        span
          h4 {{ 'grouped_dist[pub_id][0].name'|ng}}  
            a(href="mailto:{{'grouped_dist[pub_id][0].email'|ng}}?subject={% trans 'New command' %}&body={% trans 'Hello' %} %0D%0A %0D%0A {{ 'bodies[pub_id]' | ng }}", ng-click="get_body(pub_id)")
              i.glyphicon.glyphicon-envelope(title="{% trans 'Write to' %}  {{ 'grouped_dist[pub_id][0].email' | ng}} {% trans ' with your desktop mail client' %}")

        table.table.table-condensed.table-striped
            thead
              th {% trans "Title" %}
              th {% trans "Price" %}
              th {% trans "Quantity left" %}
              th {% trans "To command" %}
            tbody
              tr(ng-repeat="card in cards")
                td: a(href="{{ 'card.get_absolute_url' | ng}}") {{ 'card.title' | ng }}
                td {{ 'card.price' |ng }} €
                td {{ 'card.quantity' |ng }}
                td
                  input.my-number-input(type="number", min=0, max=99, ng-model="card.threshold")
                  i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection(pub_id, $index)", style="padding-left: 1em;")

  // we'll use the modal shortly !
  script(type="text/ng-template", id="commandModal.html")
    div.modal-header
      h3.modal-title {% trans "Command" %}
      div {% trans "The cards are grouped by distributor. Please check the list and confirm." %}

    div.modal-body
      div(ng-repeat="(pub_id, cards) in sorted_cards")
        h4 pub: {{ 'pub_id'|ng}}
        div(ng-repeat="card in cards")
          div {{'card.title'|ng}}

  //- button.btn.btn-primary(ng-click="open('lg')") {% trans 'Command…' %}

{% endblock %}