// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


.row
  .col-lg-3
  .col-lg-9
    a(href="/admin/search/card/{{object.pk}}", title="{% trans 'Edit the card' %}") {% trans "Edit" %}
.row
  .col-lg-3
    .row
      img.img-responsive(src="{{ object.img }}")
    .row
      h4 {{ object.price }} €  ({{ object.card_type }})
      h4 {% trans "in stock" %}: {{ object.quantity }}
      div isbn: {{ object.isbn }}
      a(target="_blank", href="{{ object.details_url }}") {% trans "source" %}: {{ object.data_source }}

      div.panel.panel-default {% trans "Comment" %}
       div.panel-heading
        div.panel-content {{ object.comment }}
  .col-lg-9
    h3 {{ object.title }}
    h4 {{ object.display_authors }}
    div {% trans "Publishers" %}:
        ul.list-group
            for pub in object.get_publishers
                li.list-group-item {{ pub.name }}

    div {% trans "Distributor" %}:
        ul.list-group
            for dist in object.get_distributor
                li.list-group-item {{ dist.name }}

    div {% trans "Presente in" %}:
      ul.list-group
        {% for place_copy in object.placecopies_set.all %}
        li.list-group-item {{ place_copy.place.name }} : {{ place_copy.nb}} exemplaires
        {% endfor %}

    div {% trans "Deposits" %}: {{ object.depositcopies_set.count }}
      ul.list-group
        {% for dep in object.depositcopies_set.all %}
        li.list-group-item {{ dep.deposit.name }}: {{ dep.nb }}
        {% endfor %}

    div {% trans "Alerts" %}: {{ object.alert_set.count }}

    div {% trans "Last entry" %}:
      if not last_entry
        span {% trans "unknown" %}
      else
        //- a(href="{{ last_entry.get_absolute_url }}")
          div {{last_entry.created }}
        span {{ last_entry.created }}

    div {% trans "Sells since the last entry" %}: {{ total_sold }}
      if sells

        ul.list-group
          for sell in sells
            a(href="{{ sell.get_absolute_url }}")
                li.list-group-item {{ sell.created }}
      else
        span ---

{% endblock content %}