<!-- // Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers -->
<!-- // See the COPYRIGHT file at the top-level directory of this distribution -->

<!-- // Abelujo is free software: you can redistribute it and/or modify -->
<!-- // it under the terms of the GNU Affero General Public License as published by -->
<!-- // the Free Software Foundation, either version 3 of the License, or -->
<!-- // (at your option) any later version. -->

<!-- // Abelujo is distributed in the hope that it will be useful, -->
<!-- // but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- // GNU Affero General Public License for more details. -->

<!-- // You should have received a copy of the GNU Affero General Public License -->
<!-- // along with Abelujo.  If not, see <http://www.gnu.org/licenses/>. -->
{% extends "base.html" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_javascript %}
{% bootstrap_css %}

<div>
  <div class="row">
    <h2>
      {% trans "Cards never sold." %}
    </h2>


    <div class="row">
      <div class="col-lg-8">

        <form class="form form-inline" action="{% url 'cards_unsold' %}">
          <label for="shelf">{% trans "Shelf" %}</label>
          <select name="shelf" id="shelf" class="form-control">
            <option value="0"> </option>
            {% for it in shelves %}
            {% if it.pk == shelf_id %}
            <option value="{{ it.pk }}" selected="selected"> {{ it.name }} </option>
            {% else %}
            <option value="{{ it.pk }}"> {{ it.name }} </option>
            {% endif %}
            {% endfor %}
          </select>

          <label for="distributor">{% trans "Distributor" %}</label>
          <select name="distributor" id="distributor" class="form-control">
            <option value="0"> </option>
            {% for it in distributors %}
            {% if it.0 == distributor_pk %}
            <option value="{{ it.0 }}" selected="selected"> {{ it.1 }} </option>
            {% else %}
            <option value="{{ it.0 }}"> {{ it.1 }} </option>
            {% endif %}
            {% endfor %}
          </select>

          <button type="submit" class="btn btn-default">
            OK
          </button>

        </form>
      </div>
    </div>

    <div style="margin-top: 1em">
      <span>
        {% trans "Results:" %} {{ cards_count }} · {% trans "Total" %}: {{ total }}
      </span>
    </div>

    <nav aria-label="Page navigation example" hx-boost="true">
      <ul class="pagination">
        {% if page == 1 %}
        <li class="page-item disabled"><a class="page-link" href="{% url 'cards_unsold' %}?page={{ page | add:'-1' }}"> {% trans "Previous" %} </a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}?page={{ page | add:'-1' }}"> {% trans "Previous" %} </a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}">1</a></li>
        {% if paginator.num_pages > 1 %}
        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}?page=2">2</a></li>
        {% endif %}
        {% if paginator.num_pages > 2 %}
        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}?page=3">3</a></li>
        {% endif %}
        {% if paginator.num_pages > 2 %}
        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}?page=4">4</a></li>
        {% endif %}
        {% if paginator.num_pages > 2 %}
        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}?page=5">5</a></li>
        {% endif %}

        {% if page = 6 %}
        <li class="page-item active"><a class="page-link" href="#"> 6 </a></li>
        {% endif %}

        {% if page > 6 %}
        <li class="page-item"><a class="page-link" href="#"> … </a></li>
        <li class="page-item active"><a class="page-link" href="#"> {{ page }} </a></li>
        {% endif %}

        {% if paginator.num_pages > 6 %}

        {% if page < before_last_page %}
        <li class="page-item"><a class="page-link" href="#">…</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}?page={{ paginator.num_pages }}"> {{ paginator.num_pages }} </a></li>
        {% endif %}

        {% if page == paginator.num_pages %}
        <li class="page-item disabled"><a class="page-link" href="{% url 'cards_unsold' %}?page={{ page | add:'1' }}"> {% trans "Next" %} </a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'cards_unsold' %}?page={{ page | add:'1' }}"> {% trans "Next" %} </a></li>
        {% endif %}
      </ul>
    </nav>

    <table id="table-data" class="table table-condensed table-striped">
      <thead>
        <th></th>
        <th class="mouse-pointer" onclick="sortTableString(1)">
          {% trans "Title" %}
          <span class="caret"></span>
        </th>
        <th class="mouse-pointer" onclick="sortTableString(2)">
          {% trans "Created" %}
          <span class="caret"></span>
        </th>
        <th class="mouse-pointer" onclick="sortTableString(3)">
          {% trans "Publisher" %}
          <span class="caret"></span>
        </th>
        <th class="mouse-pointer" onclick="sortTableString(4)">
          {% trans "Distributor" %}
          <span class="caret"></span>
        </th>
        <th class="mouse-pointer" onclick="sortTableString(5)">
          {% trans "Shelf" %}
          <span class="caret"></span>
        </th>
        <th class="mouse-pointer" onclick="sortTableNumeric(6)">
          {% trans "Quantity" %} 🢓
        </th>
      </thead>
      <tbody>
        {% for card in cards %}
        <tr data-value="">
          <td>
            <!-- <img src="{{ card.cover }}" style="max-width: 200px"/> -->
          </td>
          <td data-value="{{ card.title }}">
            <a href="{{ card.get_absolute_url }}">
              {{ card.title }}
            </a>
          </td>
          <td data-value="{{ card.created | date:'Ymd' }}">
            {{ card.created }}
          </td>
          <td data-value="{{ card.pubs_repr }}">
            {% if card.pubs_repr %}
            {{ card.pubs_repr }}
            {% endif %}

          </td>
          <td data-value="{{ card.distributor }}">
            {% if card.distributor %}
            {{ card.distributor }}
            {% endif %}

          </td>
          <td data-value="{{ card.shelf.name }}">
            {{ card.shelf.name }}
          </td>
          <td data-value="{{ card.quantity }}">
            {{ card.quantity }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
</div>

{% endblock content %}
