// Copyright 2014 - 2020 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}

{% block content %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% load humanize %}

//
// No Angular nor Vue, uses abelujo-js.js
//

div#abelujo
  hello(title="hello vue !")

.row
  .col-lg-10
    ul.nav.nav-tabs
      li.active(role="presentation"): a(href="#") {% trans "Card details" %}
      li(role="presentation")
        a(href="{% url 'card_history' object.pk %}") {% trans "History" %}

.row
  .col-lg-3
    .btn-group
      a.btn.btn-default(href="{% url 'card_edit' object.pk %}", title="{% trans 'Edit the card' %}") {% trans "Edit" %}
      a.btn.btn-default(href="{% url 'card_places_add' object.pk %}", title="{% trans 'Add to places' %}") {% trans "Add..." %}
      a.btn.btn-default(href="{% url 'card_move' object.pk %}") {% trans 'Move…' %}

  .col-lg-7
    a.btn.btn-default(href="#", title='{% trans "Add 1 copy to the default place" %}', onclick="card_add_one_to_default_place({{ object.pk }})")
      i.glyphicon.glyphicon-plus 1
    a.btn.btn-default(href="#", title='{% trans "Remove 1 copy to the default place" %}', onclick="card_remove_one_from_default_place({{ object.pk }})")
      i.glyphicon.glyphicon-minus 1

    a.btn.btn-default(href="#", title='{% trans "Remember to command this card. Add it to the list for later." %}', onclick="card_command({{ object.pk }})")
      i.glyphicon.glyphicon-shopping-cart

    h3 {{ object.title }}

.row
  .col-lg-9
   .row
    .col-lg-4

      .row(style="margin-left: 1px;")
        img.img-responsive(ng-src="{{ object.cover }}")

      .row(style="margin-left: 1px;")

        h4 {{ object.price_fmt }}
          div {% trans "Selling price" %}: {{ object.selling_price }}
          if object.vat1
            span(title="{{ object.vat1 }}% of {{ object.price }} is {{ object.check_vat.0 }}. Actual tax is {{ object.check_vat.1 }}%") &nbsp; ({{ object.price_excl_vat }}, {{ object.vat1 }}%)
          if object.vat
            span {{ object.vat }}
        table.table.table-condensed.table-bordered
          tbody
            tr
              td {% trans "isbn" %}
              td {{ object.isbn }}
            if object.availability
              tr
                td Disponibilité
                td {{ object.availability_fmt }}
            if object.date_publication
              tr
                td {% trans "Publication date" %}
                td {{ object.date_publication }}
            tr
              td
                | {# Translators: format like pocket or big (livre de poche) #}
                | {% trans "format" %}
              td
                if object.fmt
                  span {{ object.fmt }}
                if object.width
                  span ({{ object.width }} x {{ object.height }}
                if object.thickness
                  span x {{ object.thickness }})

            if object.weight
              tr
                td {% trans "Weight" %}
                td {{ object.get_weight_repr }}

            tr
              td {% trans "Présentation éditeur" %}
              td {{ object.presedit_name }}

            tr
              td {% trans "source" %}: 
              td
                if object.data_source
                  a(target="_blank", href="{{ object.details_url }}") {{ object.data_source }}
            tr
              td
                span: a(target="_blank", href="https://duckduckgo.com/?q={{object.title}}+{{object.display_authors}}") {% trans "Web search" %}
                    span.glyphicon.glyphicon-share-alt(style="padding-left: 3px;")

        h4 {% trans "Comment" %} 
        div
          a(href="{% url 'admin:search_card_change' object.pk %}", target="_blank")  {% trans "edit" %}
        em.my-border {{ object.comment }}

    .col-lg-8
      h4 {{ object.display_authors }}


      table.table
        tbody
          tr
            td {% trans "Publishers" %}
            td
                for pub in object.get_publishers
                    div: a(href="{{pub.get_absolute_url}}", target="_blank"){{ pub.name }}

          tr
            td {% trans "Supplier" %}
            td
              for dist in object.get_distributor
                  span: a(href="{{dist.get_absolute_url}}", target="_blank") {{ dist.repr }}
                  span {% if dist.gln %} ({{dist.gln}}) {% endif %}
          if object.get_distributor and object.distributor.dilicom_enabled
            tr
              td {% trans "Commande via Dilicom ?" %}
              td {{ object.distributor.is_comm_via_dilicom }}

          tr
              td {% trans "Collection" %}
              td
                if object.collection
                  {{ object.collection }}

          tr
              td {% trans "Shelf" %}: 
              td(id="shelf-name", style="display: none")
                if object.shelf
                  {{ object.shelf }}
              td(id="shelf-select-td")
                select(id="shelf-select", name="shelves")
                  //- for shelf in shelves
                    option(value="{{ shelf.name }}" {% if shelf == object.shelf %} selected="selected" {% endif %})

          if object.theme
            tr
                td {% trans "Theme" %}: 
                td(title="CLIL code: {{ object.theme }}")
                  if object.parent_theme_name
                    {{ object.parent_theme_name }} /
                  if object.theme
                    {{ object.theme_name }}

          tr(class="{% if object.quantity > 0 %} active {% elif object.quantity < 0 %} danger {% endif %}")
            td {% trans "In stock" %}
            td(id="in_stock") {{ object.quantity_compute }}

          tr
            td {% trans "Presente in" %}
            if not object.quantity
              td ---
            else
             td
              table.table.table-condensed
                for name_qty in places_quantities
                  tr
                    td(id="{{ name_qty.2 }}") {{ name_qty.0 }} 
                    td(id="{{ name_qty.2}}_quantity")  {{ name_qty.1 }}

          tr
            td {% trans "Boxes" %}
            if not quantity_boxes
              td ---
            else
              td
                table.table.table-condensed
                  for tup in quantity_boxes
                    tr
                      td
                        a(href="{% url 'box_view' tup.1 %}") {{ tup.2 }}
                      td {{ tup.0 }}

          tr
              td {% trans "Minimal qty" %}
              td {{ object.threshold }}

          tr(class="{% if object.quantity_deposits > 0 %} active {% elif object.quantity_deposits < 0 %} danger {% endif %}")
            td {% trans "In deposits" %}
            td {{ object.quantity_deposits }}
          tr
            td {% trans "Deposits" %}
            td
                for dep_tup in object.deposits
                  div: a(href="/deposits/{{ dep_tup.1 }}") {{ dep_tup.0 }}
                if not object.deposits and not object.quantity
                  span --- &nbsp;
                    a(href="{% url 'deposits_new' %}") ({% trans "Create" %})

   .row
          if object.summary
            hr
            h4
              span.glyphicon.glyphicon-align-left(style="padding-right: 1em;")
              span {% trans "Summary" %}
            div(style="padding-left: 1em") {{ object.summary }}
          else
            div

  .col-lg-3
    table.table.table-condensed
      tbody

        tr(class="{% if object.alert_set.count %} danger {% endif %}")
          td  {% trans "Alerts" %}
          td {{ object.alert_set.count }}

        tr
          td {% trans "Card creation" %}
          td {{ object.created }}
        tr
          td {% trans "Last entry" %}
          td {{ last_entry.created }}
            //- if not last_entry
            //- span {% trans "no data" %}
            //- else
              //- a(href="{{ last_entry.get_absolute_url }}")
                div {{last_entry.created }}
              span {{ last_entry.created }}

        tr
          td {% trans "Sells since the last entry" %}
          td {{ total_sold }}

        tr
          td {% trans "Pending commands" %}
          td
            if not pending_commands
              div 0
            else
                ul
                  for cmd in pending_commands
                    li
                      | x{{ cmd.qty }} -
                      | <a href="{{ cmd.command.get_absolute_url }}">{{ cmd.command.title }}</a> -
                      | {{ cmd.command.created }}


script(type='text/javascript', src="{% static 'search/js/card.js' %}")

{% endblock content %}
