// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}


.row
  .col-lg-10
    ul.nav.nav-tabs
      li.active(role="presentation"): a(href="#") {% trans "Card details" %}
      //- li(role="presentation", on-click="alert('Not implemented !')")
        a(href="{{object.get_absolute_url}}/history") {% trans "History" %}

.row
  .col-lg-3
    .btn-group
      button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
        span.caret
      ul.dropdown-menu
        li: a(href="/stock/card/edit/{{object.pk}}", title="{% trans 'Edit the card' %}") {% trans "Edit" %}
        li: a(href="{% url 'card_move' object.pk %}") {% trans 'Move…' %}

  .col-lg-7
    h3 {{ object.title }}

.row
  .col-lg-3.my-border

    .row(style="margin-left: 1px;")
      img.img-responsive(src="{{ object.img }}")

    .row(style="margin-left: 1px;")
      h4 {{ object.price }} €  ({{ object.card_type }})
      h4 {% trans "in stock" %}: {{ object.quantity }}
      div {% trans "Minimal qty" %}: {{ object.threshold }}
      div isbn: {{ object.isbn }}
      div {% trans "Source" %}: 
        a(target="_blank", href="{{ object.details_url }}") {{ object.data_source }}

      div {% trans "Shelf" %}: 
        if object.shelf
          {{ object.shelf }}

      div
        span: a(target="_blank", href="https://framabee.org/?q={{object.title}}+{{object.display_authors}}") {% trans "Web search" %}
            span.glyphicon.glyphicon-share-alt(style="padding-left: 3px;")
      div {% trans "Comment" %}: 
        if object.comment
          em.my-border {{ object.comment }}
        else
          div

  .col-lg-9
    h4 {{ object.display_authors }}
    for pub in object.get_publishers
                  a(href="{{pub.get_absolute_url}}", target="_blank"){{ pub.name }}

    div {% trans "Distributor" %}:
      .row
        ul.list-group
          .col-md-3
            for dist in object.get_distributor
                li.list-group-item
                  a(href="{{dist.get_absolute_url}}", target="_blank") {{ dist.name }}

    div {% trans "Presente in" %}:
     .row
      ul.list-group
       .col-md-3
        for place_copy in object.placecopies_set.all
            li.list-group-item {{ place_copy.place.name }} : {{ place_copy.nb}} exemplaires

    div {% trans "Deposits" %}:
      .row
        .col-md-3
          ul.list-group
              for dep in object.deposit_set.all
                li.list-group-item: a(href="{{ dep.get_absolute_url }}") {{ dep.name }}

    div {% trans "Alerts" %}: {{ object.alert_set.count }}

    div {% trans "Last entry" %}:
      if not last_entry
        span {% trans "no data" %}
      else
        //- a(href="{{ last_entry.get_absolute_url }}")
          div {{last_entry.created }}
        span {{ last_entry.created }}

    div {% trans "Sells since the last entry" %}: {{ total_sold }}
      .row
        .col-md-3
          if sells
            ul.list-group
              for sell in sells
                a(href="{{ sell.get_absolute_url }}")
                    li.list-group-item {{ sell.created }}
          else
            div

.row
  .col-lg-10
    hr
    h4
      span.glyphicon.glyphicon-align-left(style="padding-right: 1em;")
      span {% trans "Summary" %}
    hr
    if object.summary
      div {{ object.summary }}
    else
      div


{% endblock content %}