// Copyright 2014 - 2019 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% load humanize %}

div#abelujo
  hello(title="hello vue !")

.row
  .col-lg-10
    ul.nav.nav-tabs
      li.active(role="presentation"): a(href="#") {% trans "Card details" %}
      li(role="presentation")
        a(href="{% url 'search:card_history' object.pk %}") {% trans "History" %}

.row
  .col-lg-3
    .btn-group
      a.btn.btn-default(href="{% url 'search:card_edit' object.pk %}", title="{% trans 'Edit the card' %}") {% trans "Edit" %}
      a.btn.btn-default(href="{% url 'search:card_places_add' object.pk %}", title="{% trans 'Add to places' %}") {% trans "Add..." %}
      a.btn.btn-default(href="{% url 'search:card_move' object.pk %}") {% trans 'Move…' %}

  .col-lg-7
    h3 {{ object.title }}

.row
  .col-lg-9
   .row
    .col-lg-4

      .row(style="margin-left: 1px;")
        img.img-responsive(src="{{ object.cover }}")

      .row(style="margin-left: 1px;")

        h4 {{ object.price | floatformat:2 | intcomma}} {% trans "€" %}
        table.table.table-condensed.table-bordered
          tbody
            tr
              td {% trans "isbn" %}
              td {{ object.isbn }}
            tr
              td
                | {# Translators: format like pocket or big (livre de poche) #}
                | {% trans "format" %}
              td {{ object.fmt }}
            tr
              td {% trans "source" %}: 
              td
                a(target="_blank", href="{{ object.details_url }}") {{ object.data_source }}
            tr
              td
                span: a(target="_blank", href="https://duckduckgo.com/?q={{object.title}}+{{object.display_authors}}") {% trans "Web search" %}
                    span.glyphicon.glyphicon-share-alt(style="padding-left: 3px;")

        h4 {% trans "Comment" %} 
        div
          a(href="{% url 'admin:search_card_change' object.pk %}", target="_blank")  {% trans "edit" %}
        em.my-border {{ object.comment }}

    .col-lg-8
      h4 {{ object.display_authors }}


      table.table
        tbody
          tr
            td {% trans "Publishers" %}
            td
                for pub in object.get_publishers
                    div: a(href="{{pub.get_absolute_url}}", target="_blank"){{ pub.name }}

          tr
            td {% trans "Supplier" %}
            td
              for dist in object.get_distributor
                  div: a(href="{{dist.get_absolute_url}}", target="_blank") {{ dist.repr }}
          tr
              td {% trans "Shelf" %}: 
              td
                if object.shelf
                  {{ object.shelf }}

          tr(class="{% if object.quantity > 0 %} active {% elif object.quantity < 0 %} danger {% endif %}")
            td {% trans "In stock" %}
            td {{ object.quantity }}

          tr
            td {% trans "Presente in" %}
            td
              table.table.table-condensed
                for name_qty in places_quantities
                  tr
                    td {{ name_qty.0 }} 
                    td  {{ name_qty.1 }}

          tr
              td {% trans "Minimal qty" %}
              td {{ object.threshold }}

          tr(class="{% if object.quantity_deposits > 0 %} active {% elif object.quantity_deposits < 0 %} danger {% endif %}")
            td {% trans "In deposits" %}
            td {{ object.quantity_deposits }}
          tr
            td {% trans "Deposits" %}
            td
                for dep_tup in object.deposits
                  div: a(href="/deposits/{{ dep_tup.1 }}") {{ dep_tup.0 }}

   .row
          if object.summary
            hr
            h4
              span.glyphicon.glyphicon-align-left(style="padding-right: 1em;")
              span {% trans "Summary" %}
            div(style="padding-left: 1em") {{ object.summary }}
          else
            div

   //- .row
          {% include "search/card_reviews.jade" %}

  .col-lg-3
    table.table.table-condensed
      tbody

        tr(class="{% if object.alert_set.count %} danger {% endif %}")
          td  {% trans "Alerts" %}
          td {{ object.alert_set.count }}

        tr
          td {% trans "Card creation" %}
          td {{ object.created }}
        tr
          td {% trans "Last entry" %}
          td {{ last_entry.created }}
            //- if not last_entry
            //- span {% trans "no data" %}
            //- else
              //- a(href="{{ last_entry.get_absolute_url }}")
                div {{last_entry.created }}
              span {{ last_entry.created }}

        tr
          td {% trans "Sells since the last entry" %}
          td {{ total_sold }}

        tr
          td {% trans "Pending commands" %}
          td
            if not pending_commands
              div 0
            else
                ul
                  for cmd in pending_commands
                    li
                      | x{{ cmd.qty }} -
                      | <a href="{{ cmd.command.get_absolute_url }}">{{ cmd.command.title }}</a> -
                      | {{ cmd.command.created }}


{% endblock content %}