// Copyright 2014 - 2020 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}

if messages
  ul.messages
    for msg in messages
      li  {{ msg }}

h1 {% trans "Create a card" %}


form(action="{% url 'card_create_manually' %}", method="post")
  .col-lg-6
    h4 {% trans "Supply the book's bibliographic information below." %}
    div {% trans "Only the title is mandatory." %}
    {% csrf_token %}
    {% bootstrap_form form %}

  .col-lg-6
    h4 {% trans "And here, add it to your stock." %}
    {% csrf_token %}
    {% bootstrap_form add_places_form layout='horizontal' %}
    input.btn.btn-primary(type="submit", value="{% trans 'Validate' %}")

{% endblock content %}
