// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% load humanize %}

.row
  .col-lg-10
    ul.nav.nav-tabs
      li.active(role="presentation"): a(href="#") {% trans "Card details" %}
      li(role="presentation")
        a(href="{% url 'card_history' object.pk %}") {% trans "History" %}

.row
  .col-lg-3
    .btn-group
      a.btn.btn-default(href="{% url 'card_edit' object.pk %}", title="{% trans 'Edit the card' %}") {% trans "Edit" %}
      a.btn.btn-default(href="{% url 'card_move' object.pk %}") {% trans 'Move…' %}

  .col-lg-7
    h3 {{ object.title }}

.row
  .col-lg-9
   .row
    .col-lg-4

      .row(style="margin-left: 1px;")
        img.img-responsive(src="{{ object.img }}")

      .row(style="margin-left: 1px;")

        h4 {{ object.price | floatformat:2 | intcomma}} {% trans "€" %} ({{ object.card_type }})
        table.table.table-condensed.table-bordered
          tbody
            tr
              td {% trans "isbn" %}
              td {{ object.isbn }}
            tr
              td {% trans "Source" %}: 
              td
                a(target="_blank", href="{{ object.details_url }}") {{ object.data_source }}
            tr
              td
                span: a(target="_blank", href="https://framabee.org/?q={{object.title}}+{{object.display_authors}}") {% trans "Web search" %}
                    span.glyphicon.glyphicon-share-alt(style="padding-left: 3px;")
        div {% trans "Comment" %}: 
          if object.comment
            em.my-border {{ object.comment }}
          else
            div

    .col-lg-8
      h4 {{ object.display_authors }}


      table.table
        tbody
          tr
            td {% trans "Publisher(s)" %}
            td
                for pub in object.get_publishers
                    div: a(href="{{pub.get_absolute_url}}", target="_blank"){{ pub.name }}

          tr
            td {% trans "Supplier" %}
            td
              for dist in object.get_distributor
                  div: a(href="{{dist.get_absolute_url}}", target="_blank") {{ dist.name }}
          tr
              td {% trans "Shelf" %}: 
              td
                if object.shelf
                  {{ object.shelf }}

          tr
              td {% trans "Minimal qty" %}
              td {{ object.threshold }}

          tr(class="{% if object.quantity > 0 %} active {% elif object.quantity < 0 %} danger {% endif %}")
            td {% trans "in stock" %}
            td {{ object.quantity }}

          tr
            td {% trans "Presente in" %}
            td
              for place_copy in object.placecopies_set.all
                  div {{ place_copy.place.name }} : {{ place_copy.nb}} exemplaires

          tr
            td {% trans "Deposits" %}
            td
                for dep in object.deposit_set.all
                  div: a(href="{{ dep.get_absolute_url }}") {{ dep.name }}

          tr(class="{% if object.quantity_deposits > 0 %} active {% elif object.quantity_deposits < 0 %} danger {% endif %}")
            td {% trans "In deposits" %}
            td {{ object.quantity_deposits }}
   .row
          hr
          h4
            span.glyphicon.glyphicon-align-left(style="padding-right: 1em;")
            span {% trans "Summary" %}
          hr
          if object.summary
            div(style="padding-left: 1em") {{ object.summary }}
          else
            div

  .col-lg-3
    table.table.table-condensed
      tbody

        tr(class="{% if object.alert_set.count %} danger {% endif %}")
          td  {% trans "Alerts" %}
          td {{ object.alert_set.count }}

        tr
          td {% trans "Last entry" %}
          td {{ last_entry.created }}
            //- if not last_entry
            //- span {% trans "no data" %}
            //- else
              //- a(href="{{ last_entry.get_absolute_url }}")
                div {{last_entry.created }}
              span {{ last_entry.created }}

        tr
          td {% trans "Sells since the last entry" %}
          td {{ total_sold }}


{% endblock content %}