// Copyright 2014 - 2019 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% load humanize %}

.row
  .col-lg-10
    ul.nav.nav-tabs
      li(role="presentation"): a(href="{% url 'card_show' card.pk %}") {% trans "Card details" %}
      li.active(role="presentation")
        a(href="{% url 'card_history' card.pk %}") {% trans "History" %}

h3 {{ card.title }}
div {% trans "Total sells" %}: {{ sells_data.total_sells }}

.row
  .col-lg-3
    h4 {% trans "Last sells" %}

    if not sells_data.data
      em {% trans "This card has no registered sells." %}

    for sell in sells_data.data
      div {{ sell.created }} - {{ sell.price_sold_fmt }}
        if sell.quantity != 1
          span &nbsp x {{ sell.quantity }}

  .col-lg-3
    h4 {% trans "Other output movements" %}
    if not outs
      div: em {% trans "There are no other movements out of the stock than sells." %}
    for out in outs
      div {{ out.movement.created}}: x{{ out.quantity }} - {% if out.movement.basket %} {{ out.movement.basket }} {% endif %} {{ out.movement.distributor }}

  .col-lg-3
    h4 {% trans "Last entries" %}
    if not entries
      div: em {% trans "There is no other entries." %}
    for it in entries
      div {{ it.created}}

  .col-lg-3
   .row
    h4 {% trans "Pending commands" %}
    if not pending_commands
      div: em {% trans "There is no pending commands." %}
    else
      ul
        for cmd in pending_commands
          li
            | x{{ cmd.qty }} -
            | <a href="{{ cmd.command.get_absolute_url }}">{{ cmd.command.title }}</a> -
            | {{ cmd.command.created }}


   .row
      h4 {% trans "Last commands" %}
      if not commands
          div: em {% trans "You did not receive parcels for this card." %}

      for cmd in commands
          a(href="{{ cmd.command.get_absolute_url }}") {{ cmd.command.date_received }}

{% endblock content %}
