// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

form(method='post', action="{% url 'card_buy' card.id %}")
  {% csrf_token %}
  .row
    .col-lg-9
      h4 {% trans "Buy cards" %}
      div {% trans "public price" %}: {{ card.price }}
      div {% trans "discount" %}: {{ card.distributor.discount }} %
      div {% trans "buying price" %}: {{ buying_price }}
    .col-lg-3
      a(href="/admin/search/bill/add")
        div {% trans "create a Bill" %}

  div {{ form.as_p }}
  input.btn.btn-primary(type='submit', value='{% trans "Validate" %}')

  if type == "move"
    input.btn(value="Ok, and move again")

{% endblock content %}