{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

form(action='/collection/', method='post')
  {% csrf_token %}
  {% bootstrap_form searchForm %}
  // {{ form.as_p }}
  input.btn.btn-primary(type='submit', value='submit')

for b in book_list
  table.table.table-condensed
    tr
      if b.img
        td: img(src="{{ b.img }}")
      td
        span
          h3
            a(href="/admin/search/card/{{ b.id }}", title="Modifiez la notice") {{b.title}}
          a(href="{{ b.details_url }}") Voir sur {{ b.data_source }}
        if b.authors
          h4 {{b.authors}}
        div prix: {{b.price}} €, ean: {{ b.ean }}
        if b.publishers
          div
            span éditeur: {{ b.publishers }}
            if b.collection
              span ({{ b.collection }})
        if b.distributor
          div diffuseur: {{ b.distributor }}
        div exemplaires en stock: {{ b.quantity }}
        div Lieus de stockage:
          span {{ b.places }}

  form(action='/collection/sell/', method='post') {% csrf_token %}
    // input(type='hidden', value=b.title, name='book')
    input(type='hidden', value="{{ b.title }}", name='title')
    input(type='hidden', value="{{ b.authors }}", name='authors')
    input(type='hidden', value="{{ b.price }}", name='price')
    input(type='hidden', value="{{ b.id }}", name='id')
    input(type='hidden', value=b, name='book')
    input.btn.btn-primary(type='submit', value='Vendre')

  form.form-inline(action="/deposits/addcard/", method="post") {% csrf_token %}
    {% bootstrap_form AddToDepositForm %}
    input(type="hidden", value='{% url "card_collection" %}', name="redirect_to")
    input(type="hidden", value="{{ b.ean }}", name="ean")
    input.btn.btn-primary(type="submit", value="ajouter au dépôt")

{% endblock content %}