// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

form(action='/collection/', method='post')
  {% csrf_token %}
  {% bootstrap_form searchForm %}
  // {{ form.as_p }}
  input.btn.btn-primary(type='submit', value='submit')

for b in book_list
  table.table.table-condensed
    tr
      if b.img
        td: img(src="{{ b.img }}")
      td
        span
          h3
            a(href="/admin/search/card/{{ b.id }}", title="Modifiez la notice") {{b.title}}
          a(href="{{ b.details_url }}") Voir sur {{ b.data_source }}
        if b.authors
          h4 {{b.authors}}
        table.table-condensed
          tr
            if b.publishers
              td
                span
                  b(title="{{ b.publishers }}") éditeur 
                  span(title="{{ b.publishers }}") {{ b.publishers | truncatewords:2}}
            td
              span
                b ean 
                span {{ b.ean }}
            td
              span
                b(title="{% if not collection %} collection inconnue {% endif%}") collection 
                span(title="{% if not b.collection %} collection inconnue {% endif%}")
                  {% if not collection %}
                  span ---
                  {% else %}
                  span {{ b.collection }}
                  {% endif %}
            td
              {{ b.price }} €
          tr
            if b.distributor
              td
                span
                  b diffuseur 
                  span {{ b.distributor }}
            td
              b stockage 
              span {{ b.places }}
            td
              b en stock 
              span {{ b.quantity }}

  form(action='/collection/sell/', method='post') {% csrf_token %}
    // input(type='hidden', value=b.title, name='book')
    input(type='hidden', value="{{ b.title }}", name='title')
    input(type='hidden', value="{{ b.authors }}", name='authors')
    input(type='hidden', value="{{ b.price }}", name='price')
    input(type='hidden', value="{{ b.id }}", name='id')
    input(type='hidden', value=b, name='book')
    input.btn.btn-primary(type='submit', value='Vendre')

  form.form-inline(action="/deposits/addcard/", method="post") {% csrf_token %}
    {% bootstrap_form AddToDepositForm %}
    input(type="hidden", value='{% url "card_collection" %}', name="redirect_to")
    input(type="hidden", value="{{ b.ean }}", name="ean")
    input.btn.btn-primary(type="submit", value="ajouter au dépôt")

{% endblock content %}