// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

h3 {% trans "Search in the stock" %}

form(action='{% url "card_collection" %}', method="post")
  {% csrf_token %}
  {% bootstrap_form searchForm layout="horizontal" %}
  input.btn.btn-primary(type='submit', value="{% trans 'valider' %}")

unless book_list
  p.bg-info {% trans "No results" %}

span: span {{ nb_results }} {% trans "results" %} / {{ total_results }}
      a(href="{% url 'card_collection' %}?format=text")
        input.btn.btn-primary(type="submit", value="{% trans 'voir en texte' %}", style="float: right;")

for b in book_list
  table.table.table-condensed
    tr
      if b.img
        td: img(src="{{ b.img }}", style="height: 150px;")
      td
        span
          h3: a(href="{{ b.get_absolute_url }}", title='{% trans "Edit the card" %}') {{b.title}}
          if b.details_url
            a(target="_blank", href="{{ b.details_url }}") {% trans "See on" %} {{ b.data_source }}
        if b.authors
          h4 {{b.authors}}
        table.table-condensed
          tr
            if b.publishers
              td
                span
                  b(title="{{ b.publishers }}") {% trans "publisher" %} 
                  span(title="{{ b.publishers }}") {{ b.publishers | truncatewords:2}}
            td
              span
                b isbn 
                span {{ b.isbn }}
            td
              span
                b(title="{% if not collection %} {% trans 'collection inconnue' %} {% endif%}") {% trans "collection" %} 
                span(title="{% if not b.collection %} %{ trans 'collection inconnue' %} {% endif%}")
                  {% if not collection %}
                  span ---
                  {% else %}
                  span {{ b.collection }}
                  {% endif %}
            td
              {{ b.price }} €
          tr
            if b.distributor
              td
                span
                  b {% trans "distributor" %} 
                  span {{ b.distributor }}
            td
              b {% trans "places" %} 
              span {{ b.places }}
            td
              b {% trans "in stock" %} 
              span {{ b.quantity }}

  form.form-inline(action="{% url 'deposits_add_card' %}", method="post") {% csrf_token %}
    {% bootstrap_form AddToDepositForm %}
    input(type="hidden", value='{% url "card_collection" %}', name="redirect_to")
    input(type="hidden", value="{{ b.ean }}", name="ean")
    input.btn.btn-primary(type="submit", value='{% trans "add to deposit" %}')

{% endblock content %}