<!-- Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->{% extends "base.html" %}
{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}
{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}
{% block content %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load humanize %}

<div class="row">
  <div class="col-md-12">
    <h4><span>{% trans "Command #" %} {{ object.id }}  </span><span style="{% if object.received %} background-color: lightgreen; {% else %} background-color: red; {% endif %}">{% if not object.received %} {% trans "ongoing" %} {% else %}{# Translators: it is about a command. In french: female noun, une commande recuE. #} {% trans "received" %} {% endif %}</span>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>{% trans "Supplier" %}</td>
          <td><span>{{ object.supplier_name | upper }}</span>{% if  object.supplier.discount %}<span>( {{ object.supplier.discount }} %)</span>{% else %}<span>({% trans "no discount" %})</span>{% endif %}
          </td>
        </tr>
        <tr>
          <td>{% trans "Created" %}</td>
          <td>{{ object.created }}</td>
        </tr>
        <tr>
          <td>{% trans "Received" %}</td>
          <td>
            <div>{{ object.date_received_label }}</div>
            <div title="{% trans "Days between the date of creation of the command and its reception." %}">{% if object.date_received %} (+{{ object.received_delta }} {% trans "days" %}) {% endif %}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>{% trans "Bill received" %}</td>
          <td>{{ object.date_bill_received_label }}</td>
        </tr>
        <tr>
          <td>{% trans "Payment sent" %}</td>
          <td>{{ object.date_payment_sent_label }}</td>
        </tr>
        <tr>
          <td>{% trans "Paid" %}</td>
          <td>
            <div>{{ object.date_paid_label }}</div>
            <div title="{% trans "Days between the date of creation of the command and the day it is paid." %}">{% if object.date_paid %} (+{{ object.paid_delta }} {% trans "days" %}) {% endif %}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>{% trans "total value" %}</td>
          <td class="text-right">{{ object.total_value | floatformat:2 | intcomma }} {{ currency_fmt }}</td>
        </tr>
        <tr>
          <td>{% trans "total value, incl. taxes" %}</td>
          <td class="text-right">{{ object.total_value_inctaxes | floatformat:2 | intcomma }} {{ currency_fmt }}</td>
        </tr>
        <tr>
          <td>{% trans "nb of copies" %}</td>
          <td class="text-right">{{ object.nb_copies }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="GET" name="receive_parcel" action="/commands/{{object.id}}/receive" value="foo">
      <button type="submit" class="btn btn-primary">{% if not object.inventory %} {% trans "Receive a parcel" %} {% else %} {% trans "See the parcel" %} {% endif %}<i class="glyphicon glyphicon-download-alt"></i>
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>{% trans "Cards you ordered" %}</h4>
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th>{% trans "Title" %}</th>
      <th class="text-right">{% trans "quantity" %}</th>
      <th class="text-right">{% trans "price" %}</th>
      <th class="text-right">{% trans "price" %} {% trans "excl. tax" %}</th>
      <th class="text-right">{% trans "price" %} {% trans "with discount" %}</th>
      <th class="text-right">{% trans "quantity ordered" %}</th>
    </tr>{% for it in object.commandcopies_set.all %}
    <tr>
      <td><a href="{{it.card.get_absolute_url}}">{{ it.card.title }}</a>
      </td>
      <td class="text-right">{{ it.quantity }}</td>
      <td class="text-right">{{ it.card.price | floatformat:2 | intcomma  }} {{ currency_fmt }}</td>
      <td class="text-right">{{ it.card.price_excl_vat | floatformat:2 | intcomma }} {{ currency_fmt }}</td>
      <td class="text-right">{{ it.card.price_discounted | floatformat:2 | intcomma }} {{ currency_fmt }}</td>
      <td class="text-right">{{ it.quantity }}</td>
    </tr>{% endfor %}
  </table>
</div>
{% endblock content %}
