// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

h3 {% trans "Simple stats" %}

for key, it in stats_stock.iteritems
  div
    b {{ it.label }}: 
    span  {{ it.value }}

div beautiful graphs… soon !
div(ng-controller="dashboardController")
  .row
    .col-lg-6
      h3 awesome graph on the right
    .col-lg-6
      div(id="chart")

  .row
    .col-lg-6
      div(id="chart2")
    .col-lg-6
      h3 another graph on the left


{% endblock content %}