// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Abelujo's dashboard" %}
div (We'll add more stats soon)

div(ng-controller="dashboardController", ng-cloak="stats")
  .row
    .col-lg-6
      h3 {% trans "Composition of the stock" %}
      div(ng-show="stats")
        div {% verbatim %} {{stats.nb_cards.label}}: {{stats.nb_cards.value}} {% endverbatim %}
        div {% verbatim %} {{ stats.nb_books.label}}: {{stats.nb_books.value }} {% endverbatim %}
      div(id="chart")

    .col-lg-6
      h3 {% trans "Best 10 sells of this month" %}
      table.table.table-striped(st-table="sells_month")
        thead
          tr
            th {% trans "Title" %}
            th {% trans "Quantity sold" %}
        tbody
          tr(ng-repeat="sell in sells_month")
            th {{ 'sell.title' | ng }}
            th {{ 'sell.quantity' | ng }}
        tfoot
          tr
            td.text-center(colspan="5")
              div(st-pagination="", st-items-by-page="10")

  .row
    .col-lg-6
      div(id="chartNoStock")
    .col-lg-6
      h3 {% trans "Comfort of the stock" %}
      div(ng-show="stats")
        div {% verbatim %} {{stats.nb_cards_no_stock.label}}: {{stats.nb_cards_no_stock.value}} {% endverbatim %}
        div {% verbatim %} {{ stats.nb_cards_one_copy.label}}: {{stats.nb_cards_one_copy.value }} {% endverbatim %}

  .row
    .col-lg-6
      h3 {% trans "Cost of the stock VS deposits" %}
    .col-lg-6
      div(id="chart2")


{% endblock content %}