// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-controller="dashboardController", ng-cloak="stats")
  .row
    .col-lg-6
      h3 {% trans "Composition of the stock" %}
      div(ng-show="stats")
        h4 {% trans "Total number of cards" %}: {{'stats.nb_cards.value'|ng}}
        h4 {% trans "Number of books" %}: {{'stats.nb_books.value'|ng }}
        h4(title='{% trans "Cost of each card by its quantity in stock, rounded to the upper decimal." %}') {% trans "Value of the stock" %}: {{'stats.total_cost.value'|ng }} €
      div(id="chart")

    .col-lg-6
      h3 {% trans "Best 10 sells of this month" %}
      table.table.table-striped(st-table="sells_month")
        thead
          tr
            th {% trans "Title" %}
            th {% trans "Quantity sold" %}
        tbody
          tr(ng-repeat="sell in sells_month")
            th {{ 'sell.title' | ng }}
            th {{ 'sell.quantity' | ng }}
        tfoot
          tr
            td.text-center(colspan="5")
              div(st-pagination="", st-items-by-page="10")

  .row
    .col-lg-6
      h3 {% trans "Cards never sold" %}: {{ 'static_stock.never_sold_nb'|ng }}
      div: em {% trans "Excerpt of the list" %}:
      table.table.table-striped(datatable="ng")
        thead
          tr
            th {% trans "Title" %}
        tbody
          tr(ng-repeat="it in static_stock.never_sold_list")
            th
              a(href="{{'it.get_absolute_url'|ng}}") {{ 'it.title' | ng }}

  .row
    .col-lg-6
      h3 {% trans "Next deposits to pay" %}
      table.table.table-striped
        thead
          tr
            th {% trans "Deposit" %}
            th {% trans "Distributor" %}
            th {% trans "due date" %}
        tbody
          tr(ng-repeat="depo in deposits")
            th {{ 'depo.name' | ng }}
            th {{ 'depo.distributor' | ng }}
            th {{ 'depo.due_date' | ng }}

    .col-lg-6
      h3 {% trans "Comfort of the stock" %}
      div(ng-show="stats")
        div {% trans "Nb cards with no copy" %}: {{'stats.nb_cards_no_stock.value'|ng}}
        div {% trans "Nb cards with one copy" %}: {{'stats.nb_cards_one_copy.value'|ng }}
      div(id="chartNoStock")

  .row
    .col-lg-6
      h3 {% trans "Cost of the stock VS deposits" %}
      div(id="chart2")


{% endblock content %}