// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

a(href="/admin/search/deposit/{{deposit.name}}") modifier
dl.dl-horizontal
  dt {% trans "Dépôt" %}
  dd {{ deposit.name }}
  dt {% trans "Distributeur" %}
  dd {{ deposit.distributor }}
  dt {% trans "Type de dépôt" %}
  dd {{ deposit.deposit_type }}
  dt {% trans "Réassort automatique" %}
  dd {{ deposit.auto_command | yesno:"oui,non"}}
  dt {% trans "Dernier état de dépôt" %}
  dd {{ deposit.last_checkout }}
  dt {% trans "Nombre d'alertes liées" %}
  dd {{ nb_alerts }}
if copies
  b {% trans "Exemplaires en dépôt" %}:
else
  b.text-center.alert.alert-info {% trans "Ce dépôt ne contient aucune notice." %}
table.table.table-striped.table-hover
  for copy in copies
    tr
      td {{ copy.title }}
      td {{ copy.getAuthorsString }}
      td {{ copy.editor }}
      td {{ copy.price }} €

{% trans "état de dépôt" as deposit_state %}
{% blocktrans %}
a(href="").btn.btn-primary(title="{{ deposit_state }}", value="{{ deposit_state }}", type="submit") {{ deposit_state }}
{% endblocktrans %}

{% endblock content %}