{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

h3 Nouveau dépôt:
form(action='/create/', method='post')
  {% csrf_token %}
  {% bootstrap_form DepositForm %}
  // {{ form.as_p }}


{% endblock content %}