{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

h3 Nouveau dépôt:
form(action='/deposits/create/', method='post')
  {% csrf_token %}
  {% bootstrap_form DepositForm %}
  input.btn.btn-primary(type="submit", value="Enregistrer")


{% endblock content %}