// Copyright 2014 - 2020 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% load humanize %}

a.btn.btn-primary(href="{% url 'deposits_new' %}") {% trans "New deposit" %}

.btn-group
  a.btn.btn-default(role="button"
                    href="http://abelujo.cc/docs/deposits/"
                    target="_blank",
                    title='{% trans "Read the documentation" %}')
     i.glyphicon.glyphicon-question-sign



if depo_fix
  h3 {% trans "Deposits of the bookstore" %}
  table.table.table-striped.table-hover
   thead
    tr
        th {% trans "Deposit's name" %}
        th {% trans "Supplier" %}
        th {% trans "Last deposit state" %}

        th {% trans "Initial qty" %}
        th {% trans "Total price" %}

        th {% trans "Due date" %}

   tbody
    for dep in depo_fix
      tr
        td.col-md-3
            a(href="{{ dep.get_absolute_url }}") {{ dep.name }}
        td {{ dep.distributor.name }}
        td {{ dep.last_checkout_date }}

        td.text-right {{ dep.init_qty }}
        td.text-right {{ dep.total_init_price | floatformat:2 | intcomma }} {% trans "€" %}

        td {{ dep.due_date }}

    td.text-right {% trans "Total" %}
    td
    td

    td
    td.text-right {{total_price_fix | floatformat:2 | intcomma }} {% trans "€" %}

    td

else
  h4 {% trans "No deposit of bookshop type" %}

if  depo_pubtype
  h3 {% trans "External deposits" %}
  table.table.table-striped.table-hover
    thead
      tr
        th {% trans "Deposit name" %}
        th {% trans "Supplier" %}
        th {% trans "Last checkout" %}
        th {% trans "Initial qty" %}
        th {% trans "Total price" %}

    tbody
     for dep in depo_pubtype
      tr
        td.col-md-3
            a(href="{{ dep.get_absolute_url }}") {{ dep.name }}
        td {{ dep.distributor.name }}
        td {{ dep.last_checkout_date }}
        td.text-right {{ dep.initial_nb_copies }}
        td.text-right {{ dep.total_init_price| floatformat:2 | intcomma  }} {% trans "€" %}

else
  h4 {% trans "No deposit of supplier's type" %}
{% endblock content %}