{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

a.btn.btn-primary(href="new") Nouveau dépôt
h3 Dépôts existants:
for dep in deposits
  div
    span {{ dep.name }} avec {{ dep.distributor.name }}

{% endblock content %}