{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

a.btn.btn-primary(href="new") Nouveau dépôt
div hello deposits

{% endblock content %}