// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

a(href="/admin/search/deposit/{{deposit.id}}") {% trans "edit" %}
dl.dl-horizontal
  dt {% trans "Deposit" %}
  dd {{ deposit.name }}
  dt {% trans "Distributor" %}
  dd {{ deposit.distributor }}
  dt {% trans "Deposit type" %}
  dd {{ deposit.deposit_type }}
  dt {% trans "Auto command" %}
  dd {{ deposit.auto_command | yesno:"oui,non"}}
  dt {% trans "Last deposit state" %}
  dd {{ deposit.last_checkout_date }}
  dt {% trans "Alerts" %}
  dd {{ nb_alerts }}
if copies
  b {% trans "Exemplaries in stock" %}:
else
  b.text-center.alert.alert-info {% trans "This deposit doesn't have any card." %}
table.table.table-striped.table-hover
  for copy in copies
    tr
      td {{ copy.title }}
      td {{ copy.getAuthorsString }}
      td {{ copy.editor }}
      td {{ copy.price }} €

{% trans "deposit state" as deposit_state %}
a(href='{% url "deposit_checkout" deposit.id %}').btn.btn-primary(title="{{ deposit_state }}", value="{{ deposit_state }}", type="submit") {{ deposit_state }}

{% endblock content %}