// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load humanize %}

.row
  .col-md-3
   dl.dl-horizontal
    dt {% trans "Deposit" %}
    dd {{ deposit.name }}

    dt {% trans "Supplier" %}
    dd: a(href="{{deposit.distributor.get_absolute_url}}") {{ deposit.distributor }}
    dt {% trans "discount" %}
    dd {{ distributor.discount }} %
    dt {% trans "Deposit type" %}
    dd {{ deposit.deposit_type }}
    dt {% trans "Auto command" %}
    dd {{ deposit.auto_command | yesno:"oui,non"}}
  .col-md-3
   dl.dl-horizontal
    dt {% trans "Due date" %}
    if deposit.due_date
      dd {{ deposit.due_date }}
    else
      dd
    dt {% trans "Last deposit state" %}
      dd {{ deposit.last_checkout_date }}
    dt {% trans "Alerts" %}
    dd {{ nb_alerts }}

  .col-md-4
    div {% trans "total init" %}: {{ total.total_price_init | floatformat:2 | intcomma}} {% trans "€" %}
    div {% trans "total sold" %}: {{ total.total_price_sold | floatformat:2 | intcomma}} {% trans "€" %}
    div {% trans "discount" %}: {{ total.discount }} %
    h4  {% trans "to pay" %}: {{ total.total_to_pay | floatformat:2 | intcomma}} {% trans "€" %}
    div {% trans "margin" %}: {{ total.margin | floatformat:2 | intcomma}} {% trans "€" %}

.row
  .col-sm-4
    .btn-group
      button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
        span.caret
      ul.dropdown-menu
        li: a(href='{% url "deposit_checkout" deposit.id %}', title='{% trans "Save this deposit state" as deposit_state %}') {{ deposit_state }}

        li: a(href="/admin/search/deposit/{{deposit.id}}") {% trans "edit" %}

        {% trans "Add copies…" as deposit_add %}
        li: a(href='{% url "deposit_add_copies" deposit.id %}', title="{{ deposit_add }}", value="{{ deposit_add }}", type="submit") {{ deposit_add }}

      a(href="http://abelujo.cc/docs/deposits/", target="_blank"): button.btn.btn-default(title='{% trans "Read the documentation" %}')
       i.glyphicon.glyphicon-question-sign


//- {% trans "Delete this deposit" as deposit_delete %}
//- a(href="{% url 'deposit_delete' deposit.id %}").btn.btn-danger(title="{{ deposit_delete }}", value="{{ deposit_delete }}", type="submit", on-click="alert('not implemented!');") {{ deposit_delete }}

table.table.table-striped.table-hover
    tr
        th {% trans "Title" %}
        th {% trans "price" %}
        th {% trans "price" %} {% trans "excl. tax" %}
        th {% trans "price" %} {% trans "with discount" %}
        th {% trans "qty init" %}
        th {% trans "nb sold" %}
        th {% trans "current qty" %}
    for key, bal in cards_balance
      tr
        td: a(href="{{key.get_absolute_url}}")  {{ key.title }}
        td  {{ key.price | floatformat:2 | intcomma  }} {% trans "€" %}
        td  {{ key.price_excl_vat | floatformat:2 | intcomma }} {% trans "€" %}
        td  {{ key.price_discounted | floatformat:2 | intcomma }} {% trans "€" %}
        td  {{ bal.nb_initial }}
        td  {{ bal.nb_sells }}
        td  {{ bal.nb_current }}


{% endblock content %}