// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

h3 État de dépôt
div Diffuseur: {{ distributor }}
div created on {{ created }}

table.table.table-striped.table-hover
    tr
        td title
        td qty init
        td nb sold
        td current qty
    {% if card_balance|length = 0 %}
    div nop !
    {% endif %}
    for key, bal in cards_balance
      tr
        td  {{ key.title }}
        td  {{ bal.nb_initial }}
        td  {{ bal.nb_sells }}
        td  {{ bal.nb_current }}

div total init: {{ total.total_price_init }}
div total sold: {{ total.total_price_sold }}
div discount: {{ total.discount }} %
h4 to pay: {{ total.total_to_pay }}
div margin: {{ total.margin }}

{% endblock content %}
