// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

a(href="/admin/search/deposit/{{deposit.name}}") modifier
dl.dl-horizontal
  dt Dépôt
  dd {{ deposit.name }}
  dt Distributeur
  dd {{ deposit.distributor }}
  dt Type de dépôt
  dd {{ deposit.deposit_type }}
  dt Réassort automatique
  dd {{ deposit.auto_command | yesno:"oui,non"}}
  dt Dernier état de dépôt
  dd {{ deposit.last_checkout }}
  dt Nombre d'alertes liées
  dd {{ nb_alerts }}
if copies
  b Exemplaires en dépôt:
else
  b.text-center.alert.alert-info Ce dépôt ne contient aucune notice.
table.table.table-striped.table-hover
  for copy in copies
    tr
      td {{ copy.title }}
      td {{ copy.getAuthorsString }}
      td {{ copy.editor }}
      td {{ copy.price }} €

a(href="").btn.btn-primary(title="état de dépôt", value="état de dépôt", type="submit") état de dépôt
{% endblock content %}