{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

h3 Dépôts existants:
table.table.table-striped.table-hover
  for dep in deposits
    tr
      td {{ dep.name }}
      td {{ dep.distributor.name }}

a.btn.btn-primary(href="{% url 'deposits_new' %}") Nouveau dépôt
{% endblock content %}