// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

h3 Nouveau dépôt:
div(ng-controller="IntroController")

  // form(action='/api/distributors', method='post')
  form(method='post')
      select.form-control(ng-model="distributor", ng-options='{% verbatim %}dist for dist in dist_list{% endverbatim %}')
        option(value="") ---
      div
        span Cherchez des notices
        span(ng-show="distributor") dont le distributeur est {% verbatim %} {{ distributor }} {% endverbatim %}:
      input.nullable.form-control(type='text', typeahead-loading="loadingCards", ng-model='{% verbatim %} copy_selected {% endverbatim %}', typeahead='{% verbatim %} copy.repr for copy in getCards($viewValue) {% endverbatim %}', typeahead-min-length="3", typeahead-on-select="add_selected_card($item)")
      i.glyphicon.glyphicon-refresh(ng-show='loadingCards')
      ul.list-group(ng-show="cards_selected", ng-repeat=" card in cards_selected ")
        li.list-group-item.list-group-item-info {% verbatim %} {{card.repr}} {% endverbatim %}
          i.glyphicon.glyphicon-remove(ng-click="remove_from_selection($index)")

      input.btn.btn-primary(type="submit", value="Enregistrer", ng-click="addDeposit()")

form(action='/deposits/create/', method='post')
  {% csrf_token %}
  {% bootstrap_form DepositForm %}
  input.btn.btn-primary(type="submit", value="Enregistrer")


{% endblock content %}