// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

if deposits
  h3 {% trans "Dépôts existants" %}:
else
  h3 {% trans "Aucun dépôt existant" %}
table.table.table-striped.table-hover
  tr
      td {% trans "Nom du dépot" %}
      td {% trans "Diffuseur" %}
      td {% trans "Dernier état de dépôt" %}
      td {% trans "Alertes" %}
      td {% trans "Exemplaires restants" %}
  for dep in deposits
    tr
      td
        a(href="{{ dep.get_absolute_url }}") {{ dep.name }}
      td {{ dep.distributor.name }}
      td {{ dep.last_checkout }}
      td {{ dep.nb_alerts }}
      //- td {{ dep. }}

a.btn.btn-primary(href="{% url 'deposits_new' %}") {% trans "Nouveau dépôt" %}
{% endblock content %}