// Copyright 2014 - 2017 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}


div(ng-controller="historyController")
    div
        alert.ng-cloak(
          ng-repeat="alert in alerts"
          type="{{ 'alert.level' | ng }}"
          close="closeAlert($item)"
          ng-click="utils.closeAlert($item)"
        )
          {{ 'alert.message' | ng }}

    uib-tabset(justified="true")
        uib-tab(heading='{% trans "Sells" %}', select="select_tab('sells')")
        uib-tab(heading='{% trans "Entries" %}', select="history_entries()")
        //- uib-tab(heading='{% trans "Movements" %}', select="filterHistory('InternalMovement')")

    div(ng-show="show_tab == 'sells'")
      {% include "search/history_sells.jade" %}

    div(ng-show="show_tab == 'entries'")
     .row
      .col-md-9
       table.table.table-condensed
          thead
            th {% trans "Date" %}
            th {% trans "Title" %}
            th {% trans "Publishers" %}

          tbody
            tr(ng-repeat="hist in entries")
              td {{ 'hist.created ' | ng }}
              td
               table
                 thead
                   th
                   th
                   th
                 tr(ng-repeat="item in hist.copies")
                  td(ng-show="show_details == 1")
                    img.myImg(ng-show="item.card.cover", src="{{ 'item.card.cover' | ng }}")
                  td.col-md-8
                    a(href="{{ 'item.card.get_absolute_url' | ng }}") {{ 'item.card.title' | ng }}

              td {{'hist.copies[0].card.pubs_repr'|ng}}

      .col-md-3.panel.panel-info
        div.panel.panel-heading {% trans "Statistics" %}
        div.panel.panel-body
          h4 {% trans "Total acquisitions of this month" %}: {{'entries_month.total'|ng}}

       div(ng-if="hist.item.model === 'InternalMovement'")
        .col-md-2
           span {{ 'hist.item.created ' | ng }}
        .col-md-2
          span {% trans "Movement" %}
        .col-md-7
          span {% trans "Moved" %} {{ 'hist.item.nb ' | ng }} {% trans "copies" %} {% trans "from" %} {{ 'hist.item.origin.name ' | ng }} {% trans "to" %} {{ 'hist.item.dest.name ' | ng }}
          {% verbatim %}
          a(href="{{ hist.item.card.get_absolute_url }}")
           div  {{ hist.item.card.title }}
          {% endverbatim %}

{% endblock content %}