
// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}


div(ng-controller="historyController")
    h3 {% trans "History" %}

    span
      input.btn.btn-default(value="All", ng-click="filterModel='All'"))
      input.btn.btn-default(value="Entries", ng-click="filterModel='Entry'")
      input.btn.btn-default(value="Sells", ng-click="filterModel='Sell'"))
      input.btn.btn-default(value="Movements", ng-click="filterModel='InternalMovement'"))


    div(ng-repeat="hist in history")
      .row.ng-cloak

       div(ng-if="hist.item.model === 'Sell'", ng-show="showModel('Sell')")
        .col-md-2
          span {{ 'hist.item.created' | ng }}
        .col-md-2
           span {% trans "Sell" %}
        .col-md-8
          span sold {{ 'hist.item.cards.length' | ng }} {% trans "cards" %}:  
            span {% trans "total sold" %}: {{ 'hist.item.total_price_sold' | ng }}
            a(href="{{ hist.item.details_url }}") Details
          div(ng-repeat="card in hist.item.cards")
            a(href="{{ card.get_absolute_url }}")  {{ 'card.title' | ng }}

       div(ng-if="hist.item.model === 'Entry'", ng-show="showModel('Entry')")
         .col-md-2
           span {{ 'hist.item.created ' | ng }}
         .col-md-2
           span {% trans "Entry" %}
         .col-md-8
            div(ng-repeat="item in hist.item.copies")
               {% verbatim %}
               a(href="{{ item.card.get_absolute_url }}") {{ item.card.title }}
               {% endverbatim %}

       div(ng-if="hist.item.model === 'InternalMovement'", ng-show="showModel('InternalMovement')")
        .col-md-2
           span {{ 'hist.item.created ' | ng }}
        .col-md-2
          span {% trans "Movement" %}
        .col-md-8
          span {% trans "Moved" %} {{ 'hist.item.nb ' | ng }} {% trans "copies" %} {% trans "from" %} {{ 'hist.item.origin.name ' | ng }} {% trans "to" %} {{ 'hist.item.dest.name ' | ng }}
          {% verbatim %}
          a(href="{{ hist.item.card.get_absolute_url }}")
           div  {{ hist.item.card.title }}
          {% endverbatim %}

  a(href="") more...

{% endblock content %}