// Copyright 2014 - 2020 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% extends "base.pug" %}
{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

span
  a(href="{% url 'search:history_entries_month' previous_month %}") &larr; {% trans "Previous" %}
  span  &nbsp;
if day.year < now.year or day.month < now.month
  span
    a(href="{% url 'search:history_entries_month' next_month %}") {% trans "Next" %} &rarr;

.row
  .col-lg-10
    ul.nav.nav-tabs
      li(role="presentation")
        a(href="{% url 'search:history_sells_month' day|date:'Y-m'  %}") {% trans "Sells" %}
      li.active(role="presentation"): a(href="#") {% trans "Entries" %}

h1 {{ day | date:'F o' | title }}

.row
  .col-md-3.panel.panel-info
    div.panel-heading {% trans "Products received" %}
    div.panel-body {{ data.nb_entries }} {% trans "products" %}

.col-md-4
  table.table.table-striped
      {% for it in data.entries_per_day reversed %}
      tr
        td
          if it.weekday == 6
            span(style="color: grey;") {{ it.date_obj | date:'l' }} 
          else
            span {{ it.date_obj | date:'l' }} 
        td
          a(href="{% url 'search:history_entries_day' it.date %}") {{ it.date }}
        td.text-right {{ it.price_entered_fmt }}
        td.text-right x {{ it.nb_entered }}
      {% endfor %}

{% endblock content %}
