
// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


div(ng-controller="historyController")
    h3 {% trans "History" %}

    span
      input.btn.btn-default(value="Entries", ng-click="filterModel='Entry'")
      input.btn.btn-default(value="Sells", ng-click="filterModel='Sell'"))
      input.btn.btn-default(value="Movements", ng-click="filterModel='InternalMovement'"))
      input.btn.btn-default(value="All", ng-click="filterModel='All'"))

    div(
      ng-repeat="hist in history"
    )
      ul.ng-cloak.list-group

       div.list-group-item(ng-if="hist.item.model === 'Sell'", ng-show="showModel('Sell')")
        span {% verbatim %} {{hist.item.created }}: sold {{hist.item.cards.length}} {% endverbatim %} {% trans "cards" %}:  
          {% verbatim %}
          a(href="{{ hist.item.details_url }}") Details
          {% endverbatim %}
          span {% trans "total sold" %}: {% verbatim %} {{hist.item.total_price_sold}} € {% endverbatim %}
        div(ng-repeat="card in hist.item.cards")
          {% verbatim %}
          a(href="{{ card.get_absolute_url }}")  {{ card.title }}
          {% endverbatim %}

       div.list-group-item(ng-if="hist.item.model === 'Entry'", ng-show="showModel('Entry')")
         span {% verbatim %} {{ hist.item.created }}: {% endverbatim %} {% trans "New entry" %}: ({% verbatim %} {{ hist.item.payment }} {% endverbatim %})
         div(ng-repeat="item in hist.item.copies")
               {% verbatim %}
               a(href="{{ item.card.get_absolute_url }}") {{ item.card.title }}
               {% endverbatim %}

       // horrible mess of tags !
       div.list-group-item(ng-if="hist.item.model === 'InternalMovement'", ng-show="showModel('InternalMovement')")
         span {% verbatim %} {{ hist.item.created }}: {% endverbatim %} {% trans "Movement" %}: {% trans "Moved" %} {% verbatim %} {{ hist.item.nb }} {% endverbatim %} {% trans "copies" %} {% trans "from" %} {% verbatim %} {{ hist.item.origin.name }} {% endverbatim %} {% trans "to" %} {% verbatim %} {{ hist.item.dest.name }} {% endverbatim %}
         a(href="hist.item.card.get_absolute_url")
           div {% verbatim %} {{ hist.item.card.title }} {% endverbatim %}

  a(href="") more...

{% endblock content %}