
// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


div(ng-controller="historyController")
    h3 {% trans "History" %}
    h5 {% trans "of new entries, sells and movements" %}
    div(
      ng-repeat="hist in history"
    )
      div.ng-cloak

       div(ng-if="hist.item.model === 'Sell'")
        span {% verbatim %} {{hist.item.created }}: sold {{hist.item.cards.length}} {% endverbatim %} {% trans "cards" %}:  
          {% verbatim %}
          a(href="{{ hist.item.details_url }}") Sell {{ hist.item.id }}
          {% endverbatim %}
          span {% trans "total sold" %}: {% verbatim %} {{hist.item.total_price_sold}} € {% endverbatim %}
        div(ng-repeat="card in hist.item.cards")
          {% verbatim %}
          a(href="{{ card.get_absolute_url }}")  {{ card.title }}
          {% endverbatim %}

       div(ng-if="hist.item.model === 'Card')
         span {% verbatim %} {{ hist.item.created }}: {% endverbatim %} {% trans "new card" %}: 
         {% verbatim %}
         a(href="{{ hist.item.get_absolute_url }}") {{ hist.item.title }}
         {% endverbatim %}

  a(href="") more...

{% endblock content %}