
<!-- Using abelujo-js.js -->

{% extends "base.html" %}

{% block pagetitle %}
 Abelujo · {{ title }}
{% endblock %}

{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% load currencyfilter %}

<span>
  <!-- append an optional place_id URL parameter. -->
  <a href="{% url 'history_restocking_day' previous_day_fmt %}{% if place %}?place_id={{ place.pk }}{% endif %}">
    <button class="btn btn-default btn-sm" style="margin-bottom: 5px">&larr; {{ previous_day | date:'l' }} </button>
  </a>

  <span style="margin: 3px">
    {{ day | date:'l d N Y' | capfirst }}
  </span>
</span>

{% if  next_day_fmt %}
<span>
  <a hx-boost="true"
      href="{% url 'history_restocking_day' next_day_fmt %}{% if place %}?place_id={{ place.pk }}{% endif %}">
    <button class="btn btn-default btn-sm"> {{ next_day | date:'l' }} &rarr; </button>
  </a>
</span>
{% endif %}

<input type="date" id="history-date-picker" name="history-date-picker"
    style="margin-left: 1em"
    value="{{ day.year }}-{{ day.month }}-{{ day.day }}"
    min="{{ history_min_date.year }}-{{ history_min_date | date:'m' }}-{{ history_min_date | date:'d' }}" max="{{ now.year }}-{{ now.month }}-{{ now.day}}"
>

{% get_current_language as LANGUAGE_CODE %}

<button class="btn btn-default btn-sm" onclick="window.location.pathname = '/{{ LANGUAGE_CODE }}/history/restocking/day/' + document.getElementById('history-date-picker').value"> &#10004; </button>


<a style="padding-left: 1em; text-decoration: underline;" href="/{{ LANGUAGE_CODE }}/history/restocking/month/{{ day.year }}-{{ day.month }}">
  {{ day | date:'F' }} {{ day.year }}
</a>

&nbsp;&bull;

{% if day.month != now.month or day.month == now.month and day.year != now.year %}

<a style="text-decoration: underline;" href="/{{ LANGUAGE_CODE }}/history/restocking/month/">
  {{ now | date:'F' }} {{ now.year }}
</a>

<!-- bullet point -->
&nbsp;&bull;

{% endif %}

<a hx-boost="true" style="text-decoration: underline;" href="/{{ LANGUAGE_CODE }}/history/today/">
  {% trans "today" %}
  {% if day.year = now.year and day.month = now.month and day.day = now.day %}
  <!-- Check mark: -->
  <span>
    &#10004;
  </span>
  {% endif %}
</a>

<div id="alerts">
  <div id="success" role="alert" hidden="hidden" class="alert alert-success"></div>
  <div id="warnings"></div>
</div>

<!-- Tabs: disabled -->

<h3>{% trans "Restocking" %} · {{ day | date:'l d F Y' | title }}</h3>


<table id="table-data" class="table table-condensed" x-data="{ open: false }">
  <thead>
    <!-- <th class="mouse-pointer" onclick="sortTableNumeric(0)">
         {% trans "Sell" %}
         <span class="caret"></span>
         </th> -->
    <th>
      <button @click="open = ! open" title="{% trans "Hide and show covers (d)" %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-th-list"></i>
    </th>

    <!-- beware of columns sorting: keep the index -->
    <th onclick="sortTableString(1)" class="mouse-pointer">
      {% trans "Title" %}
      <span class="caret"></span>
    </th>

    <th class="mouse-pointer" onclick="sortTableString(2)">{% trans "Publisher" %}
      <span class="caret"></span>
    </th>

    <th class="mouse-pointer" onclick="sortTableString(3)">{% trans "Distributor" %}
      <span class="caret"></span>
    </th>

    <!-- caret unicode 🢓 -->
    <th class="mouse-pointer" onclick="sortTableNumeric(4)"> {% trans "Price" %} 🢓 </th>

    <th class="mouse-pointer" onclick="sortTableNumeric(5)">
      <!-- quantity in stock -->
      {% trans "Stock" %} 🢓
    </th>

    <th onclick="sortTableNumeric(6)" class="mouse-pointer">
      {% trans "Reservations" %}
      <span class="caret"></span>
    </th>
    <th onclick="sortTableNumeric(7)" class="mouse-pointer">
      <!-- command button -->
      {% trans "Commands" %}
      <span class="caret"></span>
    </th>
  </thead>

  {% for card in cards %}

  <tr style="background-color: {{ bg_color }}" id="sell{{ sell_id }}">

    <!-- <td data-value="{{ sell_id }}">
         {{ sell_id }}
         &bull;
         {{ it.created | date:'H:i' }} 
         </td>
    -->

    <td>

      {% with object=card %}
      <div class="col-md-6" x-show="open" x-cloak>

        <!-- Click to enlarge image. -->
        <a data-toggle="modal"
            data-target="#enlargeImageModal{{ card.id }}"
	    title="{% trans 'Enlarge image' %}">
          <img src="{{ card.img }}" class="myImg mouse-pointer"/>
        </a>
      </div>

      <!-- enlargeImageModal ci-dessous: -->
      <div id="enlargeImageModal{{ card.id }}" class="modal">
        {% include "search/modale_enlarge_image.html" %}
      </div>
      {% endwith %}


    </td>

    <td data-value="{{ card.title }}">&nbsp;
      <a href="{{ card.get_absolute_url }}">
        {{ card.title }}
      </a>

      {% if card.card_type.name and card.card_type.name != 'book' %}
      {% if card.card_type.name != 'Livre' %}
        ({{ card.card_type }})
      {% endif %}
      {% endif %}
    </td>

    <td data-value="{{ card.pubs_repr }}">{{ card.pubs_repr }}</td>

    <td data-value="{{ card.distributor }}">{{ card.distributor }}</td>

    <td data-value="{{ card.price_sold }}" class="text-right">{{ card.price | floatformat:2 }} </td>

    <td data-value="{{ card.quantity }}">
      <span title="{% trans 'En stock' %}"> {{ card.quantity }} </span>
    </td>

    <td data-value="{{ card.quantity_clients_reserved }}">
      {{ card.quantity_clients_reserved }}
    </td>

    <td data-value="{{ card.quantity_to_command }}">
      <span class="btn-group", style="margin-left: 1em" data-comment="copied from card_show">
        {% if user.is_staff %}
        <a class="btn btn-warning btn-sm" title='{% trans "Remember to command this card. Add it to the list for later." %}' onclick="card_command({{ card.pk }})">
          {% else %}
          <!-- Same, no onclick -->
          <a class="btn btn-warning" title='{% trans "Remember to command this card. Add it to the list for later." %}' disabled>
            {% endif %}
            <i class="glyphicon glyphicon-shopping-cart"> </i>
            <span> x
              <span id="nb_to_command_{{ card.pk }}"> {{ card.quantity_to_command }}
              </span>
            </span>
          </a>
      </span>
    </td>

    <td>
      {% if  new_sell %}
      <div title="{% trans "Cancel a sell" %}. On ne peut pas annuler une vente du mois dernier."
          {% if user.is_staff and now.year == day.year and now.month == day.month %}
          class="mouse-pointer glyphicon glyphicon-remove"
          onclick="sellUndo({{ sell_id }})"
          {% else %}
          class="glyphicon glyphicon-ban-circle"
          disabled
          {% endif %}
      ></div>
      {% endif %}
    </td>

  </tr>
  {% endfor %}
</table>


{% endblock content %}
