
// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}


div(ng-controller="historyController")
    div
        alert(
          ng-repeat="alert in alerts"
          type="{{ 'alert.level' | ng }}"
          close="closeAlert($item)"
          ng-click="utils.closeAlert($item)"
        )
          {{ 'alert.message' | ng }}

    uib-tabset(justified="true")
        uib-tab(heading='{% trans "Entries" %}', select="filterHistory('Entry')")
        uib-tab(heading='{% trans "Sells" %}', select="filterHistory('Sell')")
        uib-tab(heading='{% trans "Movements" %}', select="filterHistory('InternalMovement')")

    button.button.btn.btn-default(type="button", ng-click="toggle_images()", title='{% trans "Hide and show covers" %}')
      i.glyphicon.glyphicon-th-list

    div(ng-repeat="hist in to_show")
      .row.ng-cloak

       div(ng-if="hist.item.model === 'Sell'")
        .col-md-3
          span {{ 'hist.item.created' | ng }}
        .col-md-8
          div {{ 'hist.item.cards.length' | ng }} {% trans "cards" %}:  
            span {% trans "total" %}: {{ 'hist.item.total_price_sold' | ng }} €
            a(href="{{ hist.item.details_url }}")  {% trans "details…" %}
          div(ng-repeat="card in hist.item.cards")
            .row
              .col-md-3(ng-show="show_images")
                img.myImg(ng-show="card.img", src="{{ 'card.img' | ng }}")
              a(href="{{ card.get_absolute_url }}")  {{ 'card.title' | ng }}
        .col-md-1
          i.button.glyphicon.glyphicon-remove-sign.mouse-pointer(ng-click="sellUndo($index)", title="{% trans 'Undo this sell' %}")


       div(ng-if="hist.item.model === 'Entry'")
         .col-md-3
           span {{ 'hist.item.created ' | ng }}
         .col-md-9
            div(ng-repeat="item in hist.item.copies")
               .col-md-3(ng-show="show_images")
                    img.myImg(ng-show="item.card.img", src="{{ 'item.card.img' | ng }}")
               .col-md-9
                 a(href="{{ 'item.card.get_absolute_url' | ng }}") {{ 'item.card.title' | ng }}

       div(ng-if="hist.item.model === 'InternalMovement'")
        .col-md-2
           span {{ 'hist.item.created ' | ng }}
        .col-md-2
          span {% trans "Movement" %}
        .col-md-7
          span {% trans "Moved" %} {{ 'hist.item.nb ' | ng }} {% trans "copies" %} {% trans "from" %} {{ 'hist.item.origin.name ' | ng }} {% trans "to" %} {{ 'hist.item.dest.name ' | ng }}
          {% verbatim %}
          a(href="{{ hist.item.card.get_absolute_url }}")
           div  {{ hist.item.card.title }}
          {% endverbatim %}

  a(href="") more...

{% endblock content %}