{% extends "base.jade" %}


{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

form(action='/search/', method='post')
  {% csrf_token %}
  {% bootstrap_form form %}
  // {{ form.as_p }}
  span
    input.btn.btn-primary(type='submit', value='Rechercher')
    span  ou: 
    a(href="/admin/search/card/add") Ajouter une fiche manuellement

div.col-md-10
  {% block search_result %}
  {% endblock search_result %}
{% endblock content %}