<!-- Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

<div ng-controller="inventoryTerminateController">
  <div>
    <uib-alert ng-repeat="alert in alerts" type="{{ 'alert.level' | ng }}" close="closeAlert($item)" ng-click="closeAlert($item)">{{ 'alert.message' | ng }}

    </uib-alert>
  </div>
  <h3>{% trans "Terminate the inventory of" %} {{ 'name' | ng}}</h3>
  <!-- The following numbers are not appropriate with pagination anymore (2021-09).--><!--.col-md-12
  <div ng-if="is_no_origin" class="col-md-3 panel panel-warning">
    <div class="panel-heading"></div>
    <div class="panel-body">{% trans "Warning: we inventoried some cards that were not here originally." %} (x {{'obj_length(no_origin)'|ng}})</div>
  </div>
  <div ng-if="is_missing" class="col-md-3 panel panel-warning">
    <div class="panel-heading"></div>
    <div class="panel-body">{% trans "Warning: some cards are missing in the inventory." %} (x {{'obj_length(missing)'|ng}})</div>
  </div>
  <div ng-if="is_less_in_inv" class="col-md-3 panel panel-warning">
    <div class="panel-heading"></div>
    <div class="panel-body">{% trans "We are missing copies of some cards" %} (x {{'obj_length(less_in_inv)'|ng}})</div>
  </div>
  <div ng-if="is_more_in_inv" class="col-md-3 panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body">{% trans "We inventoried some cards with more copies than planned" %} (x {{'obj_length(more_in_inv)'|ng}})</div>
  </div>-->
  <div class="row">
    <div class="col-md-3">
      <div class="btn-group">
        <button data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" class="btn btn-info dropdown-toggle">{% trans "Action" %}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="validate()" title="{% trans "Apply this inventory to your stock. This will modify your stock" %}">{% trans "Apply to your stock" %}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" title="{% trans 'Export the list to the required format' %}" class="btn btn-success dropdown-toggle">{% trans "Export" %}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-show="is_default_inventory"><a href="/inventories/{{'inv_id'|ng}}/export?format=pdf&report=bill">{% trans "List of sells" %} -pdf</a>
          </li>
          <li ng-show="is_default_inventory"><a href="/inventories/{{'inv_id'|ng}}/export?format=csv&report=bill">{% trans "List of sells" %} - csv</a>
          </li>
          <li><a href="{{'get_base_url()'|ng}}export?format=pdf&report=listing">{% trans "Inventory list" %} - pdf</a>
          </li>
          <li><a href="{{ 'get_base_url()' | ng}}export?report=listing&format=csv"{% attrs=[('title',("'{% trans "Get)), ('the list of the Inventory in csv for LibreOffice/Excel %',(()}))] %}>{% trans "Inventory list" %} - csv</a>
          </li>
          <li><a href="{{ 'get_base_url()' | ng}}export?format=csv&report=simplelisting" title="{% trans "Get the list of the Inventory in csv, only isbn and quantities, for Dilicom" %}">{% trans "isbn and quantities (Dilicom)" %} - csv</a>
          </li>
        </ul>
      </div><a href="http://abelujo.cc/docs/inventories/" target="_blank">
        <button title="{% trans "Read the documentation" %}" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i>
        </button></a>
    </div>
    <div class="col-md-9">
      <div class="col-md-3">
        <h4>{% trans "Initial qty" %}: {{'total_copies_in_stock'|ng}}</h4>
      </div>
      <div class="col-md-3">
        <h4>{% trans "Qty inventory" %}: {{'total_copies_in_inv'|ng}}</h4>
      </div>
      <div class="col-md-3">
        <h4>{% trans "Difference" %}: {{'total_copies_in_inv - total_copies_in_stock'|ng}}</h4>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="btn-group"><span aria-label="page navigation" class="text-right">
        <ul class="pagination">
          <li class="page-item"><a ng-click="firstPage()" class="page-link">&laquo;</a>
          </li>
          <li class="page-item"><a ng-click="previousPage()" class="page-link"><</a>
          </li>
          <li class="page-item"><a class="page-link">Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'total_copies_in_inv' | ng }})</a>
          </li>
          <li class="page-item"><a ng-click="nextPage()" class="page-link">></a>
          </li>
          <li class="page-item"><a ng-click="lastPage()" class="page-link">&raquo;</a>
          </li>
        </ul></span>
    </div>
    <div class="btn-group">
      <select ng-model="page_size" ng-options="it for it in page_sizes" style="width: 5em" class="form-control"></select>
    </div>
  </div>
  <div class="row">
    <table class="table table-condensed table-striped table-hover">
      <thead>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Qty origin" %}</th>
        <th>{% trans "Qty inventory" %}</th>
        <th>{% trans "Difference" %}</th>
      </thead>
      <tbody>
        <tr ng-repeat="(id, data) in diff">
          <td ng-class="{'my-green-bg': data.diff == 0, 'my-red-bg': data.diff < 0, 'my-yellow-bg': data.diff > 0}">{{ 'data.card.title'|ng }}</td>
          <td ng-class="{'my-green-bg': data.diff == 0, 'my-red-bg': data.diff < 0, 'my-yellow-bg': data.diff > 0}">{{ 'data.stock' | ng}}</td>
          <td ng-class="{'my-green-bg': data.diff == 0, 'my-red-bg': data.diff < 0, 'my-yellow-bg': data.diff > 0}">{{ 'data.inv' | ng}}</td>
          <td ng-class="{'my-green-bg': data.diff == 0, 'my-red-bg': data.diff < 0, 'my-yellow-bg': data.diff > 0}">{{ 'data.diff' |ng }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-7">
    <div class="btn-group"><span aria-label="page navigation" class="text-right">
        <ul class="pagination">
          <li class="page-item"><a ng-click="firstPage()" class="page-link">&laquo;</a>
          </li>
          <li class="page-item"><a ng-click="previousPage()" class="page-link"><</a>
          </li>
          <li class="page-item"><a class="page-link">Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})</a>
          </li>
          <li class="page-item"><a ng-click="nextPage()" class="page-link">></a>
          </li>
          <li class="page-item"><a ng-click="lastPage()" class="page-link">&raquo;</a>
          </li>
        </ul></span>
    </div>
    <div class="btn-group">
      <select ng-model="page_size" ng-options="it for it in page_sizes" style="width: 5em" class="form-control"></select>
    </div>
  </div>
</div>
{% endblock content %}
