// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-controller="inventoryTerminateController")

  h3 {% trans "Terminate the inventory of" %} {{ 'name' | ng}}
  div.panel.panel-info
    div.panel-heading {% trans "Help" %}
    div.panel-body {% trans "Here you can compare the inventory with the real stock, and take actions, like exporting a bill in pdf or update the stock." %}

  div(ng-if="is_no_origin").panel.panel-warning
    div.panel-heading
    div.panel-body {% trans "Warning: we inventoried some cards that were not here originally." %} (x {{'obj_length(no_origin)'|ng}})

  div(ng-if="is_missing").panel.panel-warning
    div.panel-heading
    div.panel-body {% trans "Warning: some cards are missing in the inventory." %} (x {{'obj_length(missing)'|ng}})

  div(ng-if="is_less_in_inv").panel.panel-info
    div.panel-heading
    div.panel-body {% trans "We are missing copies of some cards" %} (x {{'obj_length(less_in_inv)'|ng}})

  div(ng-if="is_more_in_inv").panel.panel-info
    div.panel-heading
    div.panel-body {% trans "We inventoried some cards with more copies than planned" %} (x {{'obj_length(more_in_inv)'|ng}})

  .row
   .col-md-1
     button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}")
       i.glyphicon.glyphicon-cog
       span.caret
     ul.dropdown-menu
       li: a(href="#", ng-click="export_list('bill')", title='{% trans "Download the bill of what was sold" %}) {% trans "Bill as pdf" %}
       li: a(href="#", ng-click="export_list('inv')", title='{% trans "Get the list of the inventory" %}) {% trans "Inventory list - pdf" %}

  .row
   table.table.table-condensed.table-striped.table-hover(datatable='ng')
     thead
       th {% trans "Title" %}
       th {% trans "Qty origin" %}
       th {% trans "Qty inventory" %}
       th {% trans "Difference" %}

     tbody
      tr(ng-repeat="(id, data) in diff")
        td {{ 'data.card.title'|ng }}
        td {{ 'data.stock' | ng}}
        td {{ 'data.inv' | ng}}
        td {{ 'data.diff' |ng }}

   button.btn.btn-primary(ng-click='validate()') {% trans "Validate" %}


{% endblock content %}