// Copyright 2014 - 2016 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Inventories started" %}

div(ng-controller="InventoryModalController")
  script(type="text/ng-template", id="modalContent.html")
    div.modal-header
      h3.modal-title {% trans "What are you doing the inventory of ?" %}

    div.modal-body
     .row
        .col-md-4
            h4 {% trans "A shelf" %}
            form.form-inline
              select.form-control(ng-model="shelf", ng-options="it.fields.name for it in shelfs")
            button.btn.btn-primary(ng-click="ok('shelf')") {% trans "Ok" %}
            button.btn.btn-cancel(ng-click="cancel()") {% trans "Cancel" %}

        .col-md-4
            h4 {% trans "A place" %}
            form.form-inline
                    select.form-control(ng-model="place", ng-options="it.name for it in places")
            button.btn.btn-primary(ng-click="ok('place')") {% trans "Ok" %}
            button.btn.btn-cancel(ng-click="cancel()") {% trans "Cancel" %}

        .col-md-4
            h4 {% trans "An editor" %}
            form.form-inline
              select.form-control(ng-model="publisher", ng-options="it.fields.name for it in publishers")
            button.btn.btn-primary(ng-click="ok('publisher')") {% trans "Ok" %}
            button.btn.btn-cancel(ng-click="cancel()") {% trans "Cancel" %}


  button.btn.btn-primary(ng-click="open('lg')") {% trans "New" %}

table.table.table-striped.table-hover(ng-controller="inventoriesController")
  thead
   tr
    th.mouse-pointer(ng-click="sort_by('created')") {% trans "Created the" %}
      span.caret
    th.mouse-pointer(ng-click="sort_by('name')") {% trans "Inventory of..." %}
      span.caret
    th.mouse-pointer(ng-click="sort_by('progress')") {% trans "Progress" %}
      span.caret
    th.mouse-pointer(ng-click="sort_by('nb_cards')") {% trans "Nb of titles/copies" %}
      span.caret
    th.mouse-pointer(ng-click="sort_by('value')") {% trans "Value" %}
      span.caret
    th.mouse-pointer(ng-click="sort_by('applied')")(title='{% trans "Was this inventory already applied to your stock ?" %}') {% trans "Applied ?" %}
      span.caret
    th

  tbody
    tr.my-animated-item(ng-repeat="inv in inventories")
      td {{ 'inv.created'|ng  }}
      td {{ 'inv.name'|ng }}
      td {{ 'inv.progress'|ng  }} %
      td {{ 'inv.nb_cards'|ng  }} / {{ 'inv.nb_copies'|ng  }}
      td(title='{% trans "Value of all the copies in this inventory" %}') {{ 'inv.value'|ng  }} €

      td.i.glyphicon.glyphicon-ok(title="already applied", ng-if="inv.applied")
      td(ng-if="! inv.applied")

      td
        a(href="{{ 'inv.id'|ng  }}")
          button.btn.btn-primary {% trans "Continue" %}

        .btn-group
          button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown") {% trans "Export" %}...
            span.caret
          ul.dropdown-menu
            li: a(href="/inventories/{{ 'inv.id'|ng  }}/export?report=bill&format=pdf", title='{% trans "Get the list of the cards sold with their quantity" %}') {% trans "Sells" %} - pdf

            li: a(href="/inventories/{{ 'inv.id'|ng  }}/export?report=bill&format=csv") {% trans "Sells" %} - csv

            li: a(href="/inventories/{{ 'inv.id'|ng  }}/export?report=listing&format=csv") {% trans "Full list" %} - csv

            li: a(href="/inventories/{{ 'inv.id'|ng  }}/export?report=listing&format=pdf") {% trans "Full list" %} - pdf

            li: a(href="/inventories/{{ 'inv.id'|ng  }}/export?report=simplelisting&format=csv") {% trans "isbn and quantities (Dilicom)" %} - csv

        a(href="{{ 'inv.id'|ng  }}/delete")
          button.btn.btn-danger {% trans "Delete" %}


{% endblock content %}
