// Copyright 2014 - 2020 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% load ngfilter %}

if messages
  ul.messages
    for msg in messages
      li  {{ msg }}

h1 {% trans "Preferences" %}
.row
  h3 {% trans "Sells" %}
  .col-lg-6
    form(action="{% url 'preferences' %}", method="post")
        {% csrf_token %}
        {% bootstrap_form form %}
        input(type="submit", value="Submit")

.row
  h3 {% trans "Personal and banking information" %}
  .col-lg-6
    form(action="{% url 'preferences_bookshop' %}", method="post")
        {% csrf_token %}
        {% bootstrap_form bookshopform %}
        input(type="submit", value="Submit")

{% endblock content %}
