// Copyright 2014 - 2019 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.pug" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-controller="preferencesController")
  div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  .row
    .col-md-3
      h3 {% trans "Preferences" %}

    .col-md-6

      form(name="userForm", ng-submit="save(userForm)", novalidate)
         .row
          h3 {% trans "About the shop" %}
          .col-md-6
            h4 {% trans "Default place" %}
            //- div {% trans "This is the place to add products to by default." %}

          .col-md-6
            select.form-control(name="place", ng-model="place", ng-options="it.name for it in places")

         .row
          h3 {% trans "VAT" %}
          .col-md-6
            h4 {% trans "VAT on books" %}

          .col-md-6
            input(type="number", ng-model="vat_book")

         //- .row
         //-   h3 {% trans "User preferences" %}
         //-   .col-md-6
         //-     h3 {% trans "Language" %}
         //-   .col-md-6
         //-     select(ng-model="user_language", ng-options="it.name for it in language_choices")

         .row
            .col-md-6
            .col-md-6
              button.btn.btn-success(type="submit", ng-disabled="! userForm.$dirty") {% trans "OK" %}

    .col-md-3

{% endblock content %}
