{% extends "search/index.jade" %}


{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block search_result %}
for b in result_list
  table.table.table-condensed
    tr
      td: img(src="{{ b.img }}")
      td

        if b.details_url
          h3: a(href="{{ b.details_url }}") {{b.title}}
        else
          h3 {{b.title}}
        h4 {{b.authors}}
        div price: {{b.price}} € ean: {{b.ean}}
        if b.editor
          div editor: {{b.editor}}
        if b.description
          div {{b.description}}

  form(action='/add/', method='post') {% csrf_token %}
    {% csrf_token %}
    input(type='hidden', value="{{ b.title }}", name='title')
    input(type='hidden', value="{{ b.authors }}", name='authors')
    if b.description
      input(type='hidden', value="{{ b.description }}", name='description')
    input(type='hidden', value="{{ b.price }}", name='price')
    input(type='hidden', value="{{ b.ean }}", name='ean')
    if b.editor
      input(type='hidden', value="{{ b.editor }}", name='editor')
    input(type='hidden', value="{{ b.details_url }}", name='details_url')
    // input(type='hidden', value="{{ b }}", name='book') // can't do that, the encoding is bad.
    input.btn.btn-primary(type='submit', value='add book', title="Ajouter cet article à mon stock")



{% endblock search_result %}
