// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "search/index.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}
{% block title %} searching TEST {% endblock %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block pagetitle %} {{ page_title }} {% endblock %}

{% block search_result %}
for b in result_list
  table.table.table-condensed
    tr
      if b.img
        td: img(src="{{ b.img }}")
      td

        if b.details_url
          h3: a(href="{{ b.details_url }}", title="Voir la fiche complète sur {{ data_source }}") {{ b.title }}
        else
          h3 {{b.title}}
        h4
          if b.authors
            for author in b.authors
              span {{ author }}
              if not forloop.last
                span ; 
        table.table-condensed
          tr
            td
              span
                b éditeur 
                if b.publishers
                    for pub in b.publishers
                      span {{ pub }}
                      if not forloop.last
                        span ; 
            td
              span
                b(title="l'ean sera téléchargé à l'enregistrement de la notice.") ean 
                span {{ b.ean }}
                if not ean
                  span ---
            td
                span
                  b prix 
                  span {{ b.price }} €

        if b.description
          div {{b.description}}

  form.form-inline(action='/add/', method='post')
    {% csrf_token %}
    {% bootstrap_form addForm %}
    input(type='hidden', value="{{ forloop.counter0 }}", name='forloop_counter0')
    input.btn.btn-primary(type='submit', value='Ajouter', title="Ajouter cet article à mon stock")

{% endblock search_result %}
