{% extends "search/index.jade" %}


{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block pagetitle %} {{ page_title }} {% endblock %}

{% block search_result %}
for b in result_list
  table.table.table-condensed
    tr
      if b.img
        td: img(src="{{ b.img }}")
      td

        if b.details_url
          h3: a(href="{{ b.details_url }}", title="Voir la fiche complète sur {{ data_source }}") {{ b.title }}
        else
          h3 {{b.title}}
        h4
          if b.authors
            for author in b.authors
              div {{ author }}
        div price: {{b.price}} € ean: {{b.ean}}
        if b.publishers
          span éditeur:
          for pub in b.publishers
            span {{ pub }} 
        if b.description
          div {{b.description}}

  form(action='/add/', method='post') {% csrf_token %}
    {% csrf_token %}
    input(type='hidden', value="{{ forloop.counter0 }}", name='forloop_counter0')
    input(type='hidden', value="{{ data_source }}", name='data_source')
    input.btn.btn-primary(type='submit', value='Ajouter', title="Ajouter cet article à mon stock")
    span
      span Quantité
      input(type="text", size="5", value="1", name="quantity")

{% endblock search_result %}
