<!-- Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% if messages %}

<ul class="messages">{% for msg in messages %}

  <uib-alert>{{ msg }}</uib-alert>{% endfor %}

</ul>{% endif %}

<div class="row">
  <form method="post" action="{% url 'cards_set_shelf' %}" class="col-lg-5">{% csrf_token %}

    <h4>{% trans "Choose the new shelf" %}</h4>
    <div>{% trans "cards impacted: " %} {{ nb_cards }}</div>{% bootstrap_form form %}

    <input type="submit" value="{% trans "Validate" %}" class="btn btn-primary"/>
  </form>
</div>
<div class="row">
  <h4>{% trans "Or create a new one" %}</h4>
  <form method="post" action="{% url 'cards_set_shelf' %}" class="col-lg-4">{% csrf_token %}

    <h4>{% trans "New shelf" %}</h4>
    <!-- xxx: missing form errors.-->{% bootstrap_form newshelf_form %}

    <input type="submit" value="{% trans "Validate" %}" class="btn btn-primary"/>
  </form>
</div>{% endblock content %}