// Copyright 2014 - 2020 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% extends "base.pug" %}
{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

span
  span
    a(href="{% url 'search:suppliers_sells_month' previous_month %}") &larr; {% trans "Previous" %}
    span  &nbsp;
  if day.year < now.year or day.month < now.month
    span
      a(href="{% url 'search:suppliers_sells_month' next_month %}") {% trans "Next" %} &rarr;

h1 {{ day | date:'F o' | title }}

div.panel.panel-default
  div.panel-body
    span {% trans "This page might be useful to you if you don't exclusively pass commands to distributors, but if you also take books directly from publishers. Also, if you have deposits. It answers the question 'How much do we have to pay this distributor and this publisher at the end of the month?'." %}&nbsp;
    span {% trans "For all the books sold this month, we first consider the ones that have a distributor, and for each distributor we sum up how much is due. This is the left table. Then, we take the remaining books that have a publisher and we do the same. This is the right table. As a consequence, this page does NOT list all the books sold for a given publisher. It says how much we have to pay them, excluding the books counted for their distributor." %}

h4

.col-md-6
  if not distributors_data
    span
      b {% trans "Distributors" %}:&nbsp;
      span {% trans "no data" %}
  else
    table.table.table-striped
      thead
        th {% trans "Distributor" %}
        th.text-right {% trans "Quantity sold" %}
        th.text-right {% trans "Total" %}
        th.text-right {% trans "Total (public)" %}
      for it in distributors_data
        tr
          td
            a(href="{% url 'distributors_sells_month_list' it.distributor.1 day|date:'Y-m' %}", target="_blank"){{ it.distributor.0 | title }}
          td.text-right {{ it.nb_cards_sold }}
          td.text-right {{ it.total_fmt }}
          td.text-right {{ it.total_public_price_fmt }}

.col-md-6
  table.table.table-striped
    thead
      th {% trans "Publisher" %}
      th.text-right {% trans "Quantity sold" %}
      th.text-right {% trans "Total" %}
      th.text-right {% trans "Total (public)" %}
    for it in publishers_data
      tr
        td
          a(href="{% url 'search:publisher_sells_month_list' it.publisher.1 day|date:'Y-m' %}", target="_blank"){{ it.publisher.0 | title }}
        td.text-right {{ it.nb_cards_sold }}
        td.text-right {{ it.total_fmt }}
        td.text-right {{ it.total_public_price_fmt }}

{% endblock content %}
