<!-- Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->

{% extends "base.html" %}

{% block pagetitle %}
  {{ title }}
{% endblock pagetitle %}

{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<div class="row">
  <div class="col-md-6">
    <span>
      <span>
        <a href="{{ previous_month_url }}">
          &larr; {% trans "Previous" %}</a>
        <span>&nbsp;</span>
      </span>

      {% if  day.year < now.year or day.month < now.month %}
      <span><a href="{{ next_month_url }}">
          {% trans "Next" %} &rarr;
        </a></span>
      {% endif %}

      <span>
        <!--TODO: -->
          &bull;
          <a target="_blank" href="/{{ LANGUAGE_CODE }}/databasesearch/{{ object_db_name }}"> admin </a>
      </span>

    </span>
  </div>

  <h1> {{ title }} - {{ day | date:'F o' | title }}</h1>

  <div class="col-md-6">
    {% if  not distributors_data %}
    <span>
      <!-- <b>
           {% trans "Distributors" %}:&nbsp;
           </b> -->
      <span>
        {% trans "no data" %}
      </span>
    </span>

    {% else %}

    <div id="chart_distributors_data"
        style="display: none"
        data-comment="raw data for the chart.">
      {{ chart_distributors_data }}
    </div>

    <div class="col-md-4" style="margin-left: -1em">
      <input id="default-input"
          autofocus
          autocomplete="off"
          class=""
          style="text"
          onkeyup="filterTitles()" />
    </div>

    <table id="table-data" class="table table-striped">
      <thead>
        <th onclick="sortTableString(0)"
        >
          {{ object_name | title }}
          <i class="glyphicon glyphicon-sort">
        </th>
        <th onclick="sortTableNumeric(1)"
            class="mouse-pointer text-right">
            {% trans "Quantity sold" %}
          <i class="glyphicon glyphicon-sort">
        </th>
        <th class="mouse-pointer text-right"
            onclick="sortTableNumeric(2)"
            title='{% trans "Prix de vente" %}'>
          {% trans "Total" %}
          <i class="glyphicon glyphicon-sort">
          <i class="glyphicon glyphicon-question-sign">
          </i>
        </th>
        <th onclick="sortTableNumeric(3)"
            class="mouse-pointer text-right">
          {% trans "Total (public)" %}
          <i class="glyphicon glyphicon-sort">
        </th>

      </thead>

      {% for it in distributors_data %}

      <tr class="result-row">
        {% if object_db_name = 'distributor' %}
        <td data-value="{{ it.distributor.0 }}">
          <a href="{% url 'distributors_sells_month_list' it.distributor.1 day|date:'Y-m' %}"
              class="result-value"
              target="_blank">
            {{ it.distributor.0 | title }}
          </a>
        {% else %}
          <td data-value="{{ it.distributor.0 }}">
            <a href="{% url 'publishers_sells_month_list' it.distributor.1 day|date:'Y-m' %}"
               class="result-value"
                target="_blank">
              {{ it.distributor.0 | title }}
            </a>
        {% endif %}

        </td>
        <td class="text-right mouse-pointer"
            data-value="{{ it.nb_cards_sold }}">
          {{ it.nb_cards_sold }}
        </td>
        <td class="text-right" data-value="{{ it.total }}">{{ it.total_fmt }}</td>
        <td class="text-right" data-value="{{ it.total_public_price }}">{{ it.total_public_price_fmt }}</td>
      </tr>{% endfor %}
    </table>{% endif %}
  </div>

  <div class="col-md-6">
    <span id="chart"> </span>
  </div>
</div>

<script>
  let s = document.getElementById('chart_distributors_data');
  let data = JSON.parse(s.textContent);
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      type: 'pie',
      columns: data,
    }
  });
</script>

{% endblock content %}
