// Copyright 2014 - 2017 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

ul.nav.nav-tabs.nav-justified
    li.active(role="presentation")
      a(href="#") {% trans "To command" %}
        span.badge.ng-cloak(title="")   {{ total_copies }}
    li#ongoing(role="presentation")
      a(href="/commands/ongoing") {% trans "Commands ongoing" %}  
        span.badge.ng-cloak(title='{% trans "Number of ongoing commands." %}')   {{ "ongoing_commands_nb" | ng }}
    li(role="presentation")
      a(href="/databasesearch/command/", target="_blank") {% trans "Historique" %}


div {% trans "Cards with no supplier" %}:
table.table.table-condensed.table-striped
  tbody
    tr
      td
        a(href="/commands/supplier/0") {{ no_dist.0 }}
      td {{ no_dist.1 }}

table.table.table-condensed.table-striped
  thead
    th {% trans "Name" %}
    th {% trans "Quantity" %}
  tbody
    for it in dists
      tr
        td
          a(href="/commands/supplier/{{ it.0.id }}") {{ it.0.name }}
        td {{ it.1 }}


{% endblock %}
