<!-- Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->{% extends "base.html" %}
{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}
{% block content %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% if messages %}

<ul class="messages">{% for msg in messages %}

  <!-- xxx: correct status.-->
  <uib-alert type="info">{{ msg }}</uib-alert>{% endfor %}

</ul>{% endif %}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="#">{% trans "To command" %}<span title="" class="badge ng-cloak">{{ total_copies }}</span></a>
  </li>
  <li id="ongoing" role="presentation"><a href="{% url 'commands_ongoing' %}">{% trans "Commands ongoing" %}  <span title="{% trans "Number of ongoing commands." %}" class="badge ng-cloak">{{ "ongoing_commands_nb" | ng }}</span></a>
  </li>
  <li role="presentation"><a href="/databasesearch/command/" target="_blank">{% trans "Historique" %}</a>
  </li>
</ul>
<div class="row">
  <div class="col-lg-3">
    <!-- Feature in development: button to validate and send the command.--><!-- .btn-group(style="padding: 5px")
    <form method="POST" action="{% url 'basket_auto_command_validate' %}" class="form-inline">
      <button onclick="return confirm('Are you sure?')" title="{% trans 'Send the command to Dilicom.' %}" type="submit" class="btn btn-success">{% trans "Validate…" %}</button>
    </form>-->
    <div style="padding: 5px" class="btn-group">
      <form method="POST" action="{% url 'basket_auto_command_empty' %}" class="form-inline">
        <button onclick="return confirm('Are you sure?')" title="{% trans 'Empty the command list.' %}" type="submit" class="btn btn-default">{% trans "Empty…" %}</button><a href="http://abelujo.cc/docs/commands/" target="_blank" title="{% trans "Read the documentation" %}" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i></a>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">{% trans "All cards" %}</div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <tbody>
            <tr>
              <td><a href="{% url 'command_supplier' 'all' %}">{% trans "All cards" %}</a>
              </td>
              <td>{{ total_copies }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">{% trans "Cards with no supplier" %}</div>
      <div class="panel-body">{% if  no_dist %}
        <table class="table table-condensed table-striped">
          <tbody>
            <tr>
              <td><a href="{% url 'command_supplier' '0' %}">{{ no_dist.0 }}</a>
              </td>
              <td>{{ no_dist.1 }}</td>
            </tr>
          </tbody>
        </table>{% else %}{% trans "no data" %}
{% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">{% trans "Grouped by supplier" %}</div>
      <div class="panel-body">{% if  dists %}
        <table class="table table-condensed table-striped">
          <thead>
            <th>{% trans "Supplier" %}</th>
            <th>{% trans "Quantity" %}</th>
          </thead>
          <tbody>{% for it in dists %}
            <tr>
              <td><a href="{% url 'command_supplier' it.0.id %}">{{ it.0.name }}</a>
              </td>
              <td>{{ it.1 }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>{% else %}{% trans "no data" %}
{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
