html
  head
    title Ruche-web
  body.container
    h1 Ruche-web
    div.col-md-2(id="menu")
          h2
            a(href="/collection") Collection
          h2
            a(href="/search") Entries
    div.col-md-10(id="content")
      {% block content %}
      {% endblock content %}
    div(id="footer")
      span Qui sommes-nous ?