// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
!!! 5

{% load i18n %}
{% load staticfiles %}

html(ng-app="abelujo")
  head
    link(rel='stylesheet', type='text/css', href='{% static "search/style.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "bower_components/ui-select/dist/select.css" %}')
    script(type='text/javascript', src="{% static 'bower_components/jquery/jquery.js' %}") // load jquery before django_bootstrap.
    script(type='text/javascript', src="{% static 'js/build/vendor.js' %}")
    script(type='text/javascript', src="{% static 'js/build/abelujo.js' %}")
    script(type='text/javascript', src='{% url "django.views.i18n.javascript_catalog" %}')
      div {% block pagetitle %} {% endblock %}

  body.container-fluid
    nav.navbar.navbar-default(role="navigation")
      div.navbar-collapse
        ul.nav.navbar-nav
          li.active(href="#")
            a(href='{% url "dashboard" %}') Abelujo
              i.glyphicon.glyphicon-home
        ul.nav.navbar-nav.navbar-right
          li
           span
            a.text-right(href="/admin", style="padding-right: 3px") {% trans "Admin" %}
            a.text-right(href="/logout/", style="padding-left: 3px; padding-right: 5px") {% trans "Logout" %}

  body.container-fluid(ng-controller="baseController")
    div.col-md-2(id="menu")
      div
        ul.nav.nav-pills.nav-stacked
          li
            a(href='{% url "card_collection" %}') {% trans "My stock" %}
          li
            a(href='{% url "card_sell" %}') {% trans "Sell" %}
          li
            a(href='{% url "card_index" %}') {% trans "New entry" %}
          li
            a(href='{% url "deposits" %}') {% trans "Deposits" %}
          li
            a(href='{% url "inventories" %}') {% trans "Inventories" %}
          li
            a(href='{% url "basket_auto_command" %}') {% trans "To command" %}
              span.badge.ng-cloak {% verbatim %} {{auto_command_total}} {% endverbatim %}
          li
            a(href='{% url "baskets" %}') {% trans "Baskets" %}
          li
            a(href='{% url "search_history" %}') {% trans "History" %}

          li
            a(href='{% url "search_alerts" %}') {% trans "Alerts" %}
              span.badge.ng-cloak {% verbatim %} {{ alerts_open }} {% endverbatim %}


  div.col-md-10(id="content")
    {% if messages %}
    ul
      {% for msg in messages %}
      <li {% if msg.tags %} class="{{ msg.tags }}" {% endif %}> {{msg}} </li>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}