html
  head
    title Ruche-web
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  body.container
    h1 Ruche-web
    div.col-md-2(id="menu")
        ul
          li
            a(href="/collection") Collection
          li
            a(href="/search") Entries
    div.col-md-10(id="content")
      {% block content %}
      {% endblock content %}