// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
!!! 5
{% load staticfiles %}

html(ng-app="abelujo")
  head
    script(type='text/javascript', src="{% static 'bower_components/jquery/jquery.js' %}") // load jquery before autocomplete_light and django_bootstrap.
    {% include 'autocomplete_light/static.html' %}
    script(type='text/javascript', src="{% static 'js/build/vendor.js' %}")
    script(type='text/javascript', src="{% static 'js/build/abelujo.js' %}")

    // example for angular:
    // div
    div(ng-controller="IntroController")
    title Abelujo
    div {% block pagetitle %} {% endblock %}
  body.container
    nav.navbar.navbar-default(role="navigation")
      div.navbar-collapse
        ul.nav.navbar-nav
          li.active(href="#") Abelujo
          li
            a.text-right(href="/#") Accueil
        url.nav.navbar-nav.navbar-right
          li
            a.text-right(href="/admin") Admin

  body.container
    div.col-md-2(id="menu")
      div
        ul.nav.nav-pills.nav-stacked
          li
            a(href="/collection") Mon stock
          li
            a(href="/search") Nouvelle entrée
          li
            a(href="/deposits") Dépôts

  div.col-md-10(id="content")
    {% if messages %}
    ul
      {% for msg in messages %}
      <li {% if msg.tags %} class="{{ msg.tags }}" {% endif %}> {{msg}} </li>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}

    div(id="footer")
      span Qui sommes-nous ?