# Careful: write comments only at beg of line
# (see Makefile's update)

python-pip
virtualenvwrapper
python-dev
# for lxml:
libxml2-dev
libxslt1-dev
apache2
apache2-dev
nodejs
nodejs-legacy
npm
postgresql-contrib
libpq-dev
# for Pillow / xhtml2pdf
libjpeg-dev
redis-server
supervisor      # install with system, not pip, for it to restart with the system.
