# Careful: write comments only at beg of line
# (see Makefile's update)

python-pip
virtualenvwrapper
python-dev
# for lxml:
# but let's try with debian's lxml:
python-lxml
libxml2-dev
libxslt1-dev
apache2
apache2-dev
nodejs
nodejs-legacy
npm
postgresql-contrib
libpq-dev
# for Pillow / xhtml2pdf
libjpeg-dev

redis-server

# for Weasyprint
python-cffi
libcairo2
libpango1.0-0
libgdk-pixbuf2.0-0
shared-mime-info
# and for pybarcode and pillow
libfreetype6-dev
