### packages only needed for local development, not used on production.

### Django extensions
Werkzeug                  # runserver_plus: richer tracebacks and inline console.

### testing
mock==1.0.1
ipdb
ptpython                # gives ptipython with command shell_plus, most awesome repl.
coverage==3.7.1
nose==1.3.1             # friendly test runner.
factory_boy             # quick and easy test fixtures.
tox==1.9                # test in a fresh venv, against multiple python versions.

### utils
sphinx==1.2.3           # documentation system.

### packaging
# platter               # package builder # not in pypi yet

### deployment
fabric<2                # remote execution
underwear               # easy deployment
