# Copyright 2014 - 2019 The Abelujo Developers
# See the COPYRIGHT file at the top-level directory of this distribution

# Abelujo is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Abelujo is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

pip==9
setuptools==39.2

django==1.8
django-bootstrap3==6.2.2
pyjade                  # process jade templates.
bootstrap-admin==0.3.6  # bootstrap theme, nice search feature.
pyyaml
psycopg2                # postgresql database engine.
pytz			# timezone

### Django extensions
djangorestframework==3.4 # REST framework. Serve API, serialize models, explore schema, etc
django_extensions==1.7    # more useful commands to manage.py (shell_plus).
django-brunch==1.0        # build Vue files.
django-redis-cache==1.7.1
mod_wsgi==4.4             # apache server for development.
# mod_wsgi-httpd           # discard the system's apache httpd server if needed.
Werkzeug                  # runserver_plus: richer tracebacks and inline console.

### utils
toolz                   # pure, lazy, composable functional programming.
tabulate                # pretty print tabular data.
addict                  # dotted notation to dict attributes and more.
unidecode               # ASCII transliteration of unicode text.
distance                # between two strings.
clize==3                # build command line arguments
tqdm                    # progress bar
termcolor               # colorful terminal output
isbnlib<4               # isbn utils
unicodecsv<0.15         # at last unicode support to read and write csv files. Lacking in the standard library.
cairocffi==0.6          # for weasyprint. Later version fails.
WeasyPrint==0.34
pybarcode
pillow==4.0             # needs libfreetype6-dev installed
dateparser==0.5         # parser for human readable dates

# deployment
whitenoise==2.0         # serve static files. Easily, efficiently.
gunicorn==19.4          # wsgi server

# async task runner
django_q==0.9.4         # task queue.
honcho==0.7.0           # start django-q's cluster.

# temporary fixes ?
html5lib==1.0b8         # for "cannot import viewkeys" runtime error.

pendulum==1.1           # easy timezone, diffs, human info, etc
raven==6.0              # sentry

ruamel.yaml             # to remove the yaml.load unsafe warning (of third party libs).
