{% load i18n %}

{% load dividefilter %}

<!-- Check at http://localhost:8000/en/private/test/mailer/client-confirmation.html -->

<!-- and add ?paid=0 -->

<!doctype html>
<html>
  <head>
  </head>

  <body>


    <p>
      Bonjour,
    </p>

    <p>
      {% if payment_meta.order.amount %}
      Votre commande des titres suivants pour un total de {{ payment_meta.order.amount | div:100 }}€ a bien été reçue : <br>

        <ul>
          {% for line_item in payment_meta.order.stripe_payload.line_items  %}
          <li>
            {{ line_item.price_data.product_data.name }}, {{ line_item.price_data.unit_amount |div:100 }}€ X {{ line_item.quantity }}
          </li>
          {% endfor %}
        </ul>

      {% else %}
      Votre commande a bien été reçue. <br>
      {% endif %}

      <p>

        {% if is_online_payment %}

        {% if payment_meta %}

        L'adresse de facturation est la suivante :
        <br>
        <pre>
        {{ payment_meta.buyer.billing_address.address }} {{ payment_meta.buyer.billing_address.address_comp }}
        {{ payment_meta.buyer.billing_address.city }} {{ payment_meta.buyer.billing_address.postcode }} {{ payment_meta.buyer.billing_address.country }} <br>
        </pre>

        {% if payment_meta.buyer.delivery_address.address %}
        Et celle de livraison celle-ci (le cas échéant) :
        <pre>
        {{ payment_meta.buyer.delivery_address.address }} {{ payment_meta.buyer.delivery_address.address_comp }} <br>
        {{ payment_meta.buyer.delivery_address.city }} {{ payment_meta.buyer.delivery_address.postcode }} {{ payment_meta.buyer.delivery_address.country }}
        </pre>
        {% endif %}

        Vous avez choisi le mode de livraison {{ payment_meta.order.shipping_method }}.
        <br>
        {% if payment_meta.order.used_promo_code %}
        Le code promo utilisé : {{ payment_meta.order.used_promo_code }}. <br>
        {% endif %}

        {% endif %} <!-- payment_meta -->

        {% if payment_meta.order.shipping_method == "relay" %}
        {% with mr=payment_meta.order.mondial_relay_AP %}

        Votre point de retrait est le suivant : <br>

        <ul>
          <li> {{ mr.Nom }} {{ mr.Adresse1 }} </li>

          <li>{{ mr.Adresse2 }} {{ mr.Ville }} {{ mr.CP }} </li>
          <li> L'identifiant précis du point relais est {{ mr.ID }} </li>
        </ul>

        {% endwith %}
        {% endif %} <!-- relay -->

        {% else %}
        <p>
          Vous pouvez venir retirer les livres à la librairie.
        </p>
        {% endif %}


        <br>

        Merci beaucoup et à bientôt !

        <p>
          <small> {{ bookshop_name }} </small>
          <p>
            <em>
              <div>
                <small>Besoin d’une facture ? Besoin d’aide ? Contactez-nous.</small>
              </div>
              <div>
                <small>Vous pouvez répondre à ce courriel.</small>
              </div>
            </em>
          </p>
        </p>

      </p>

      <p>

      </p>

  </body>

  <br>


</html>
