{% load i18n %}

{% load dividefilter %}

<!doctype html>
<html>
  <head>
  </head>

  <body>


    <p>
      Bonjour {{ bookshop_name }},
    </p>

    <p>
      Une nouvelle commande vient d'être passée sur le site. </br>

      {% if is_online_payment %}
      ATTENTION : CROISER CE MAIL AVEC LE MAIL DE PAIEMENT. </br>
      <small>C'est un achat en ligne et la transaction n'est pas encore confirmée.</small>
      {% else %}
      Ce n'est <em>pas</em> un achat en ligne.
      {% endif %}
    </p>


    <p>
      <strong>client</strong> : {{ payment_meta.buyer.billing_address.last_name }} {{ payment_meta.buyer.billing_address.first_name }} </br>

      <strong>Email</strong> : {{ payment_meta.buyer.billing_address.email }} </br>

      <strong>Téléphone</strong> : {{ payment_meta.buyer.billing_address.phone }} </br>

      <strong>Adresse de facturation</strong> : {{ payment_meta.buyer.billing_address.address }} {{ payment_meta.buyer.billing_address.address_comp }} </br>
      {{ payment_meta.buyer.billing_address.city }} {{ payment_meta.buyer.billing_address.postcode }} {{ payment_meta.buyer.billing_address.country }} </br>

      <strong>Adresse de livraison (le cas échéant)</strong> : {{ payment_meta.buyer.delivery_address.address }} {{ payment_meta.buyer.delivery_address.address_comp }} </br>
      {{ payment_meta.buyer.delivery_address.city }} {{ payment_meta.buyer.delivery_address.postcode }} {{ payment_meta.buyer.delivery_address.country }} </br>

      <strong>Montant</strong> : {{ payment_meta.order.amount | div:100 }}€ </br>
      Code promo utilisé : {{ payment_meta.order.used_promo_code }} </br>
      <strong>Paiement en ligne </strong> : {{ payment_meta.order.online_payment | yesno  }} </br>
      {% comment %}
      <!-- Mode de livraison : {{ payment_meta.order.shipping_method === 'standard' ? 'Colissimo' : (payment_meta.order.shipping_method === 'relay' ? 'Mondial Relay' : 'Retrait au local') }} -->
      {% endcomment %}

      <strong>Mode de livraison</strong> : {{ payment_meta.order.shipping_method }} </br>

      {% comment %}
      <!-- <?php if (payment_meta.order.shipping_method }} -->
      <!-- <?php $mr = json_decode(payment_meta["order"]["mondial_relay_AP"], true); }} -->
      {% endcomment %}

      {% if payment_meta.order.shipping_method == "relay" %}
      <strong> Informations du point relais</strong> : </br>

      {% with mr=payment_meta.order.mondial_relay_AP %}
      <ul>
        <li> {{ mr.Nom }} {{ mr.Adresse1 }} </li>

        <li>{{ mr.Adresse2 }} {{ mr.Ville }} {{ mr.CP }} </li>
        <li> Identifiant : {{ mr.ID }} </li>
      </ul>

      {% endwith %}
      {% endif %} <!-- relay -->

      <strong>Lignes produits</strong> :

      <ul>
        {% for line_item in payment_meta.order.stripe_payload.line_items  %}
        <li>
          {{ line_item.price_data.product_data.name }}, {{ line_item.price_data.unit_amount |div:100 }}€ X {{ line_item.quantity }}
        </li>
        {% endfor %}
      </ul>

    </p>

    {% if payment_meta %}
    <div></div>
    {% else %}

    <p>
      The client is {{ client }}.
    </p>

    <p>
      Il s'agit des titres suivants:
      <ul>
        {% for card in cards  %}
        <li>
          {{ card.title }}, {{ card.price }}€
        </li>
        {% endfor %}
      </ul>

    </p>

    {% endif %}

    Bonne journée et à bientôt.

  </body>

  <br>
  <p>
    <small>Abelujo</small>
  </p>

</html>
